@{
    var title = ViewBag.Title;
   
}



<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />




    <title>Best mutual funds to invest | WealthClock Advisors</title>

    <meta name="description" content=" Do you know how to invest in mutual funds ? Start investing with our expert guidance from WealthClock Advisors. Visit us or call at +91 97022 33617." />
    <meta name="keywords" content="how to invest in mutual funds, best mutual funds to invest" />

    <meta name="author" content="admin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:site_name" content="Wealthclock Advisors" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image" content="https://wealthclockadvisors.com/admin"/>
    <meta property="og:image:width" content="120" />
    <meta property="og:image:height" content="100" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:locale:alternate" content="fr_FR" />
    <meta property="og:locale:alternate" content="es_ES" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="~/images/favicon.gif" />
    <link rel="stylesheet" href="~/css/bootstrap1.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/animate.css" media="all" />
    <link rel="stylesheet" href="~/css/owl.theme.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/css/bootstrap-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="~/css/global.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="~/css/range-ui.css" type="text/css" />
    <link rel="stylesheet" href="~/css/easy-responsive-tabs.css">
    @*<link rel="stylesheet" type="text/css" href="slick/slick.css">*@
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/money-tools.css" />
    <link rel="stylesheet" href="~/css/animation.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/Backend_Developer.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="canonical" href="https://localhost:44370/Home/Index" />


    <style>
        .ftr-copy {
            margin-bottom: 19px;
        }
    </style>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114660248-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114660248-1');
    </script>

</head>
<body>
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <a href="" class="requestbtn-cls" data-toggle="modal" data-target="#myModal"></a>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog requestbtnam-dialog">

            <!-- Modal content-->
            <div class="modal-content requestbtnam-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="title">
                        <h3>Request call back by Expert</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="sub-title">
                        <p>Please fill the below form and an investment advisor <br>will get back to you within 24 hours. </p>
                    </div>
                    <form class="req_call_back_Form" id="feedbackForm" name="feedbackForm" method="post">
                        <div class="form-group">
                            <img src="@Url.Content("~/images/user-icon.png")" class="user-icon" />
                            <input type="text" placeholder="Name" name="reqname" id="feedname" class="input-box" required="">

                        </div>
                        <div class="form-group">
                            <img src="@Url.Content("~/images/email-icon.png")" class="email-icon" />
                            <input type="email" name="reqemail" placeholder="Email" id="feedemail" class="input-box" required="">
                        </div>
                        <div class="form-group form-group-dblsd">
                            <img src="@Url.Content("~/images/phon-icon.png")" class="phone-icon" />
                            <select class="input-box select-code countrycode" id="feedcountryCode" required=""><option data-country-code="AD +376" value="Andorra"> Andorra +376</option><option data-country-code="AE +971" value="United Arab Emirates"> United Arab Emirates +971</option><option data-country-code="AF +93" value="Afghanistan"> Afghanistan +93</option><option data-country-code="AG +1-268" value="Antigua and Barbuda"> Antigua and Barbuda +1-268</option><option data-country-code="AI +1-264" value="Anguilla"> Anguilla +1-264</option><option data-country-code="AL +355" value="Albania"> Albania +355</option><option data-country-code="AM +374" value="Armenia"> Armenia +374</option><option data-country-code="AO +244" value="Angola"> Angola +244</option><option data-country-code="AQ +672" value="Antarctica"> Antarctica +672</option><option data-country-code="AR +54" value="Argentina"> Argentina +54</option><option data-country-code="AS +1-684" value="American Samoa"> American Samoa +1-684</option><option data-country-code="AT +43" value="Austria"> Austria +43</option><option data-country-code="AU +61" value="Australia"> Australia +61</option><option data-country-code="AW +297" value="Aruba"> Aruba +297</option><option data-country-code="AZ +994" value="Azerbaijan"> Azerbaijan +994</option><option data-country-code="BA +387" value="Bosnia and Herzegovina"> Bosnia and Herzegovina +387</option><option data-country-code="BB +1-246" value="Barbados"> Barbados +1-246</option><option data-country-code="BD +880" value="Bangladesh"> Bangladesh +880</option><option data-country-code="BE +32" value="Belgium"> Belgium +32</option><option data-country-code="BF +226" value="Burkina Faso"> Burkina Faso +226</option><option data-country-code="BG +359" value="Bulgaria"> Bulgaria +359</option><option data-country-code="BH +973" value="Bahrain"> Bahrain +973</option><option data-country-code="BI +257" value="Burundi"> Burundi +257</option><option data-country-code="BJ +229" value="Benin"> Benin +229</option><option data-country-code="BM +1-441" value="Bermuda"> Bermuda +1-441</option><option data-country-code="BN +673" value="Brunei Darussalam"> Brunei Darussalam +673</option><option data-country-code="BO +591" value="Bolivia"> Bolivia +591</option><option data-country-code="BR +55" value="Brazil"> Brazil +55</option><option data-country-code="BS +1-242" value="Bahamas"> Bahamas +1-242</option><option data-country-code="BT +975" value="Bhutan"> Bhutan +975</option><option data-country-code="BW +267" value="Botswana"> Botswana +267</option><option data-country-code="BY +375" value="Belarus"> Belarus +375</option><option data-country-code="BZ +501" value="Belize"> Belize +501</option><option data-country-code="CC +61" value="Cocos (Keeling) Islands"> Cocos (Keeling) Islands +61</option><option data-country-code="CD +243" value="Congo, the Democratic Republic of the"> Congo +243</option><option data-country-code="CF +236" value="Central African Republic"> Central African Republic +236</option><option data-country-code="CG +242" value="Congo"> Congo +242</option><option data-country-code="CH +41" value="Switzerland"> Switzerland +41</option><option data-country-code="CI +225" value="Cote dIvoire"> Cote dIvoire +225</option><option data-country-code="CK +682" value="Cook Islands"> Cook Islands +682</option><option data-country-code="CL +56" value="Chile"> Chile +56</option><option data-country-code="CM +237" value="Cameroon"> Cameroon +237</option><option data-country-code="CN +86" value="China"> China +86</option><option data-country-code="CO +57" value="Colombia"> Colombia +57</option><option data-country-code="CR +506" value="Costa Rica"> Costa Rica +506</option><option data-country-code="CU +53" value="Cuba"> Cuba +53</option><option data-country-code="CV +238" value="Cabo Verde"> Cabo Verde +238</option><option data-country-code="CX +53" value="Christmas Island"> Christmas Island +53</option><option data-country-code="CY +357" value="Cyprus"> Cyprus +357</option><option data-country-code="CZ +420" value="Czech Republic"> Czech Republic +420</option><option data-country-code="DE +49" value="Germany"> Germany +49</option><option data-country-code="DJ +253" value="Djibouti"> Djibouti +253</option><option data-country-code="DK +45" value="Denmark"> Denmark +45</option><option data-country-code="DM +1-767" value="Dominica"> Dominica +1-767</option><option data-country-code="DZ +213" value="Algeria"> Algeria +213</option><option data-country-code="EE +372" value="Estonia"> Estonia +372</option><option data-country-code="EG +20" value="Egypt"> Egypt +20</option><option data-country-code="ER +291" value="Eritrea"> Eritrea +291</option><option data-country-code="ES +34" value="Spain"> Spain +34</option><option data-country-code="ET +251" value="Ethiopia"> Ethiopia +251</option><option data-country-code="FI +358" value="Finland"> Finland +358</option><option data-country-code="FJ +679" value="Fiji"> Fiji +679</option><option data-country-code="FK +500" value="Falkland Islands (Malvinas)"> Falkland Islands (Malvinas) +500</option><option data-country-code="FM +691" value="Micronesia, Federated States of"> Micronesia, Federated States of +691</option><option data-country-code="FO +298" value="Faroe Islands"> Faroe Islands +298</option><option data-country-code="FR +33" value="France"> France +33</option><option data-country-code="GA +241" value="Gabon"> Gabon +241</option><option data-country-code="GB +44" value="United Kingdom"> United Kingdom +44</option><option data-country-code="GD +1-473" value="Grenada"> Grenada +1-473</option><option data-country-code="GE +995" value="Georgia"> Georgia +995</option><option data-country-code="GF +594" value="French Guiana"> French Guiana +594</option><option data-country-code="GH +233" value="Ghana"> Ghana +233</option><option data-country-code="GI +350" value="Gibraltar"> Gibraltar +350</option><option data-country-code="GL +299" value="Greenland"> Greenland +299</option><option data-country-code="GM +220" value="Gambia"> Gambia +220</option><option data-country-code="GN +224" value="Guinea"> Guinea +224</option><option data-country-code="GP +590" value="Guadeloupe"> Guadeloupe +590</option><option data-country-code="GQ +240" value="Equatorial Guinea"> Equatorial Guinea +240</option><option data-country-code="GR +30" value="Greece"> Greece +30</option><option data-country-code="GT +502" value="Guatemala"> Guatemala +502</option><option data-country-code="GU +1-671" value="Guam"> Guam +1-671</option><option data-country-code="GW +245" value="Guinea-Bissau"> Guinea-Bissau +245</option><option data-country-code="GY +592" value="Guyana"> Guyana +592</option><option data-country-code="HK +852" value="Hong Kong"> Hong Kong +852</option><option data-country-code="HN +504" value="Honduras"> Honduras +504</option><option data-country-code="HR +385" value="Croatia"> Croatia +385</option><option data-country-code="HT +509" value="Haiti"> Haiti +509</option><option data-country-code="HU +36" value="Hungary"> Hungary +36</option><option data-country-code="IE +353" value="Ireland"> Ireland +353</option><option data-country-code="IL +972" value="Israel"> Israel +972</option><option data-country-code="IN +91" value="India" selected=""> IN +91</option><option data-country-code="IR +98" value="Iran"> Iran +98</option><option data-country-code="IS +354" value="Iceland"> Iceland +354</option><option data-country-code="IT +39" value="Italy"> Italy +39</option><option data-country-code="JM +1-876" value="Jamaica"> Jamaica +1-876</option><option data-country-code="JO +962" value="Jordan"> Jordan +962</option><option data-country-code="JP +81" value="Japan"> Japan +81</option><option data-country-code="KE +254" value="Kenya"> Kenya +254</option><option data-country-code="KG +996" value="Kyrgyzstan"> Kyrgyzstan +996</option><option data-country-code="KH +855" value="Cambodia"> Cambodia +855</option><option data-country-code="KI +686" value="Kiribati"> Kiribati +686</option><option data-country-code="KM +269" value="Comoros"> Comoros +269</option><option data-country-code="KN +1-869" value="Saint Kitts and Nevis"> Saint Kitts and Nevis +1-869</option><option data-country-code="KP +850" value="Korea, Democratic People" s="" republic="" of'=""> Korea +850</option><option data-country-code="KR +82" value="Korea, Republic of"> Korea, Republic of +82</option><option data-country-code="KW +965" value="Kuwait"> Kuwait +965</option><option data-country-code="KY +1-345" value="Cayman Islands"> Cayman Islands +1-345</option><option data-country-code="KZ +7" value="Kazakhstan"> Kazakhstan +7</option><option data-country-code="LB +961" value="Lebanon"> Lebanon +961</option><option data-country-code="LC +1-758" value="Saint Lucia"> Saint Lucia +1-758</option><option data-country-code="LI +423" value="Liechtenstein"> Liechtenstein +423</option><option data-country-code="LK +94" value="Sri Lanka"> Sri Lanka +94</option><option data-country-code="LR +231" value="Liberia"> Liberia +231</option><option data-country-code="LS +266" value="Lesotho"> Lesotho +266</option><option data-country-code="LT +370" value="Lithuania"> Lithuania +370</option><option data-country-code="LU +352" value="Luxembourg"> Luxembourg +352</option><option data-country-code="LV +371" value="Latvia"> Latvia +371</option><option data-country-code="LY +218" value="Libya"> Libya +218</option><option data-country-code="MA +212" value="Morocco"> Morocco +212</option><option data-country-code="MC +377" value="Monaco"> Monaco +377</option><option data-country-code="MD +373" value="Moldova, Republic of"> Moldova, Republic of +373</option><option data-country-code="MG +261" value="Madagascar"> Madagascar +261</option><option data-country-code="MH +692" value="Marshall Islands"> Marshall Islands +692</option><option data-country-code="MK +389" value="Macedonia, the former Yugoslav Republic of"> Macedonia +389</option><option data-country-code="ML +223" value="Mali"> Mali +223</option><option data-country-code="MM +95" value="Myanmar"> Myanmar +95</option><option data-country-code="MN +976" value="Mongolia"> Mongolia +976</option><option data-country-code="MO +853" value="Macao"> Macao +853</option><option data-country-code="MP +1-670" value="Northern Mariana Islands"> Northern Mariana Islands +1-670</option><option data-country-code="MQ +596" value="Martinique"> Martinique +596</option><option data-country-code="MR +222" value="Mauritania"> Mauritania +222</option><option data-country-code="MS +1-664" value="Montserrat"> Montserrat +1-664</option><option data-country-code="MT +356" value="Malta"> Malta +356</option><option data-country-code="MU +230" value="Mauritius"> Mauritius +230</option><option data-country-code="MV +960" value="Maldives"> Maldives +960</option><option data-country-code="MW +265" value="Malawi"> Malawi +265</option><option data-country-code="MX +52" value="Mexico"> Mexico +52</option><option data-country-code="MY +60" value="Malaysia"> Malaysia +60</option><option data-country-code="MZ +258" value="Mozambique"> Mozambique +258</option><option data-country-code="NA +264" value="Namibia"> Namibia +264</option><option data-country-code="NC +687" value="New Caledonia"> New Caledonia +687</option><option data-country-code="NE +227" value="Niger"> Niger +227</option><option data-country-code="NF +672" value="Norfolk Island"> Norfolk Island +672</option><option data-country-code="NG +234" value="Nigeria"> Nigeria +234</option><option data-country-code="NI +505" value="Nicaragua"> Nicaragua +505</option><option data-country-code="NL +31" value="Netherlands"> Netherlands +31</option><option data-country-code="NO +47" value="Norway"> Norway +47</option><option data-country-code="NP +977" value="Nepal"> Nepal +977</option><option data-country-code="NR +674" value="Nauru"> Nauru +674</option><option data-country-code="NU +683" value="Niue"> Niue +683</option><option data-country-code="NZ +64" value="New Zealand"> New Zealand +64</option><option data-country-code="OM +968" value="Oman"> Oman +968</option><option data-country-code="PA +507" value="Panama"> Panama +507</option><option data-country-code="PE +51" value="Peru"> Peru +51</option><option data-country-code="PF +689" value="French Polynesia"> French Polynesia +689</option><option data-country-code="PG +675" value="Papua New Guinea"> Papua New Guinea +675</option><option data-country-code="PH +63" value="Philippines"> Philippines +63</option><option data-country-code="PK +92" value="Pakistan"> Pakistan +92</option><option data-country-code="PL +48" value="Poland"> Poland +48</option><option data-country-code="PM +508" value="Saint Pierre and Miquelon"> Saint Pierre and Miquelon +508</option><option data-country-code="PR +1-787 or 1-939" value="Puerto Rico"> Puerto Rico +1-787 or 1-939</option><option data-country-code="PS +970" value="Palestine, State of"> Palestine, State of +970</option><option data-country-code="PT +351" value="Portugal"> Portugal +351</option><option data-country-code="PW +680" value="Palau"> Palau +680</option><option data-country-code="PY +595" value="Paraguay"> Paraguay +595</option><option data-country-code="QA +974 " value="Qatar"> Qatar +974</option><option data-country-code="RE +262" value="Reunion"> Reunion +262</option><option data-country-code="RO +40" value="Romania"> Romania +40</option><option data-country-code="RU +7" value="Russian Federation"> Russian Federation +7</option><option data-country-code="RW +250" value="Rwanda"> Rwanda +250</option><option data-country-code="SA +966" value="Saudi Arabia"> Saudi Arabia +966</option><option data-country-code="SB +677" value="Solomon Islands"> Solomon Islands +677</option><option data-country-code="SC +248" value="Seychelles"> Seychelles +248</option><option data-country-code="SD +249" value="Sudan"> Sudan +249</option><option data-country-code="SE +46" value="Sweden"> Sweden +46</option><option data-country-code="SG +65" value="Singapore"> Singapore +65</option><option data-country-code="SI +386" value="Slovenia"> Slovenia +386</option><option data-country-code="SK +421" value="Slovakia"> Slovakia +421</option><option data-country-code="SL +232" value="Sierra Leone"> Sierra Leone +232</option><option data-country-code="SM +378" value="San Marino"> San Marino +378</option><option data-country-code="SN +221" value="Senegal"> Senegal +221</option><option data-country-code="SO +252" value="Somalia"> Somalia +252</option><option data-country-code="SR +597" value="Suriname"> Suriname +597</option><option data-country-code="ST +239" value="Sao Tome and Principe"> Sao Tome and Principe +239</option><option data-country-code="SV +503" value="El Salvador"> El Salvador +503</option><option data-country-code="SY +963" value="Syrian Arab Republic"> Syrian Arab Republic +963</option><option data-country-code="SZ +268" value="Swaziland"> Swaziland +268</option><option data-country-code="TC +1-649" value="Turks and Caicos Islands"> Turks and Caicos Islands +1-649</option><option data-country-code="TD +235" value="Chad"> Chad +235</option><option data-country-code="TG +228" value="Togo"> Togo +228</option><option data-country-code="TH +66" value="Thailand"> Thailand +66</option><option data-country-code="TJ +992" value="Tajikistan"> Tajikistan +992</option><option data-country-code="TK +690" value="Tokelau"> Tokelau +690</option><option data-country-code="TM +993" value="Turkmenistan"> Turkmenistan +993</option><option data-country-code="TN +216" value="Tunisia"> Tunisia +216</option><option data-country-code="TO +676" value="Tonga"> Tonga +676</option><option data-country-code="TR +90" value="Turkey"> Turkey +90</option><option data-country-code="TT +1-868" value="Trinidad and Tobago"> Trinidad and Tobago +1-868</option><option data-country-code="TV +688" value="Tuvalu"> Tuvalu +688</option><option data-country-code="TW +886" value="Taiwan, Province of China"> Taiwan +886</option><option data-country-code="TZ +255" value="Tanzania, United Republic of"> Tanzania, United Republic of +255</option><option data-country-code="UA +380" value="Ukraine"> Ukraine +380</option><option data-country-code="UG +256" value="Uganda"> Uganda +256</option><option data-country-code="UY +598" value="Uruguay"> Uruguay +598</option><option data-country-code="UZ +998" value="Uzbekistan"> Uzbekistan +998</option><option data-country-code="VC +1-784" value="Saint Vincent and the Grenadines"> Saint Vincent and the Grenadines +1-784</option><option data-country-code="VE +58" value="Venezuela, Bolivarian Republic of"> Venezuela, Bolivarian Republic of +58</option><option data-country-code="VI +1-284" value="Virgin Islands, U.S."> Virgin Islands, U.S. +1-284</option><option data-country-code="VN +84" value="Viet Nam"> Viet Nam +84</option><option data-country-code="VU +678" value="Vanuatu"> Vanuatu +678</option><option data-country-code="WF +681" value="Wallis and Futuna"> Wallis and Futuna +681</option><option data-country-code="WS +685" value="Samoa"> Samoa +685</option><option data-country-code="YE +967" value="Yemen"> Yemen +967</option><option data-country-code="YT +269" value="Mayotte"> Mayotte +269</option><option data-country-code="ZA +27" value="South Africa"> South Africa +27</option><option data-country-code="ZM +260" value="Zambia"> Zambia +260</option><option data-country-code="ZW +263" value="Zimbabwe"> Zimbabwe +263</option><option data-country-code="IDN +62" value="indonesia"> indonesia + 62</option></select>
                            <img src="@Url.Content("~/images/btnarrow-icon.png")" class="dropdowncls" />
                            <input type="text" name="reqmobile" placeholder="Phone" id="feedmobile" class="input-box phone-box" required="">
                        </div>
                        <div class="form-group">
                            <img src="@Url.Content("~/images/calender-icon.png")" class="calender-icon" />
                            <label>Preferred Date</label>
                            <input type="text" name="reqdate" placeholder="DD/MM/YYYY" id="request_callback_time" class="input-box label-box hasDatepicker" required="">
                        </div>
                        <div class="form-group">
                            <img src="@Url.Content("~/images/clock-icon.png")" class="clock-icon" />
                            <label>Preferred Time</label>
                            <ul class="time" id="feedTime">
                                <li class="li9"><a href="#">9 AM - 12 PM</a></li>
                                <li class="active li12"><a href="#">12 PM - 3 PM</a></li>
                                <li class="li3"><a href="#">3 PM - 6 PM</a></li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <img src="@Url.Content("~/images/emaildark-icon.png")" class="emailto-icon" />
                            <textarea placeholder="Message *" id="feedmsg" name="feedmsg" class="input-box " required=""></textarea>
                        </div>
                        <div class="afmsg"> </div>
                        <div class="form-group">
                            <a href="javascript:void(0);" id="btnRequest" class="request-btn">Request Now</a>
                        </div>
                        <div class="alert alert-danger hide" id="div_error" style="margin-top:5px">
                            <p id="txt_error" style="text-align:center">Failed</p>
                        </div>
                        <div class="alert alert-success hide" id="div_success" style="margin-top:5px">
                            <p id="txt_success" style="text-align:center">Request has been sent</p>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <!-- header -->
    <header class="top-header">
        <div class="container-fluid">
            <div class="top-tble">
                <div class="logo">
                    <a href="@Url.Content("~/Home/Index")"><img src="~/images/logo.png" alt="" /></a>
                </div>
                <!-- == -->
                <div class="rght-menu right-side-menu h-header">
                    <div class="sign-in">
                        <a class="commn-bttn" href="@Url.Action("LoginPage", "Login")">LOG IN</a>
                        <a class="register-bttn" href="@Url.Action("RegistrationPage", "Registration")">Register now</a>
                    </div>
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar">&nbsp;</span>
                            <span class="icon-bar">&nbsp;</span>
                            <span class="icon-bar">&nbsp;</span>
                        </button>
                        <nav class="collapse navbar-collapse top_nav">
                            <ul id="demo-1">
                                <li class="active">
                                    <a href="@Url.Content("~/Home/Index")">Home</a>

                                </li>


                                <li class="dropdown">
                                    <a href="@Url.Content("~/Solutions/Index")">
                                        Solutions <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Content("~/Solutions/FinancialPlanning")">Financial Planning</a></li>
                                        <li><a href="@Url.Content("~/Solutions/RetirementPlanning")">Retirement Planning</a></li>
                                        <li><a href="@Url.Content("~/Solutions/GoalPlanning")">Goal Planning</a></li>
                                        <li><a href="@Url.Content("~/Solutions/TaxPlanning")">Tax Planning</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Content("~/WealthclockPicks/Index")">WEALTHCLOCK PICKS</a></li>
                                <li class="dropdown">
                                    <a href="@Url.Content("~/MoneyTools/Index")">Money Tools<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Content("~/MoneyTools/SipCalculator")">Sip Calculator</a></li>
                                        <li><a href="@Url.Content("~/MoneyTools/AssetAllocation")">Asset Allocation</a></li>
                                        <li><a href="@Url.Content("~/MoneyTools/CuttingExtraExpenses")">Cutting extra expenses</a></li>
                                        <li><a href="@Url.Content("~/MoneyTools/RiskAnalyzer")">Risk Analyzer</a></li>
                                        <li><a href="@Url.Content("~/MoneyTools/GoodTimeToInvest")">Is it Good time to invest</a></li>
                                        <li><a href="@Url.Content("~/MoneyTools/DelayedSIP")">Delayed SIP</a></li>
                                        <li><a href="@Url.Content("~/MoneyTools/RightAmountForYourSIP")">Right Amount for your SIP</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="@Url.Content("~/Insights/Index")">Insight<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Content("~/Insights/Blog")">Blog</a></li>
                                        <li><a href="@Url.Content("~/Insights/KnowledgeBytes")">Knowledge Bytes</a></li>
                                        <li><a href="@Url.Content("~/Insights/Infographic")">Infographic</a></li>
                                        <li><a href="@Url.Content("~/Insights/Trending")">Trending</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Content("~/ContactUs/Index")">Support </a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
    <script type="text/javascript">
        FreshWidget.init("", { "queryString": "&widgetType=popup&submitThanks=Thanks+for+writing+to+us.+We+shall+get+back+to+you+shortly.&captcha=yes&searchArea=no", "utf8": "?", "widgetType": "popup", "buttonType": "text", "buttonText": "Need Help ?", "buttonColor": "white", "buttonBg": "#39444F", "alignment": "3", "offset": "30px", "submitThanks": "Thanks for writing to us. We shall get back to you shortly.", "formHeight": "500px", "captcha": "yes", "url": "https://wealthclockadvisors.freshdesk.com" });
    </script>

    <script id='_webengage_script_tag' type='text/javascript'>
        var webengage; !function (w, e, b, n, g) {
            function o(e, t) {
                e[t[t.length - 1]] = function () {
                    r.__queue.push([t.join("."),
                        arguments])
                }
            } var i, s, r = w[b], z = " ", l = "init options track screen onReady".split(z), a = "feedback survey notification".split(z), c = "options render clear abort".split(z), p = "Open Close Submit Complete View Click".split(z), u = "identify login logout setAttribute".split(z); if (!r || !r.__v) { for (w[b] = r = { __queue: [], __v: "6.0", user: {} }, i = 0; i < l.length; i++) o(r, [l[i]]); for (i = 0; i < a.length; i++) { for (r[a[i]] = {}, s = 0; s < c.length; s++) o(r[a[i]], [a[i], c[s]]); for (s = 0; s < p.length; s++) o(r[a[i]], [a[i], "on" + p[s]]) } for (i = 0; i < u.length; i++) o(r.user, ["user", u[i]]); setTimeout(function () { var f = e.createElement("script"), d = e.getElementById("_webengage_script_tag"); f.type = "text/javascript", f.async = !0, f.src = ("https:" == e.location.protocol ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/webengage-min-v-6.0.js", d.parentNode.insertBefore(f, d) }) }
        }(window, document, "webengage"); webengage.init("8261817c");
    </script>

    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s = d.createElement(s), e = d.getElementsByTagName(s)[0];
            z.set = function (o) { z.set._.push(o) }; z._ = []; z.set._ = []; $.async = !0;
            $.setAttribute('charset', 'utf-8'); $.src = 'https://v2.zopim.com/?4oVT8VP913yzjSWPtlQAfPj3JrxZyot0'; z.t = +new Date;
            $.type = 'text/javascript'; e.parentNode.insertBefore($, e)
        })(document, 'script');
    </script>

    <!-- end header -->
    @RenderBody()
    <div class="text-center">
        <div class="ui-loader ui-loader-default hide">
            <span class="ui-icon ui-icon-loading"></span>
        </div>
    </div>

    <!-- footer -->
    <section class="ftr-sec">
        <div class="container">
            <div class="commn-outr clearfix">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <div class="ftr-inn">
                            <h5>about us</h5>
                            <p>
                                Wealthclock makes investing simple, safe and convenient. We offer mutual fund investment and financial markets advisory over the friendly and interactive online platform that makes investing fun for all first-time investors. With the help of advance tools, detailed market analysis and team of expert advisors, Wealthclock ensures that the users are on top of their game. Come and watch your investment grow.
                            </p>
                        </div>
                    </div>
                    <!-- == -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="ftr-inn xtra">
                            <h5>important links</h5>

                            <ul>
                                <li class="dropdown">
                                    <a href="@Url.Content("~/AboutUs/Index")">- About<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Content("~/AboutUs/WhyUs")">- Why Us</a></li>
                                        <li><a href="@Url.Content("~/AboutUs/HowItWorks")">- How It Works</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/Solutions/Index")">- Solutions</a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/WealthclockPicks/Index")">- Wealthclock Picks</a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/MoneyTools/Index")">- Money Tools</a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/Insights/Index")">- Insights</a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/ContactUs/Index")">- Contact us</a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/DownloadForm/Index")">- Download Forms</a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/DownloadForm/Ebook")">- Ebooks</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- == -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="ftr-inn xtra-rght">
                            <h5>contact details</h5>
                            <div class="ftr-add">
                                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <p>
                                    Wealthclock Advisors, <br />205, Regal Diamond Center <br />Opera House, <br />Mumbai,Maharashtra 400004

                                </p>
                            </div>
                            <div class="ftr-add">
                                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <a href="tel:+9112345678"> +91 9702233617 </a>
                            </div>
                            <div class="ftr-add">
                                <span><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                                <a href="mailto:contact@wealthclockadvisors.com "> contact@wealthclockadvisors.com </a>
                            </div>

                            <div class="ftr-add">
                                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <p>
                                    Plot no. 146, 19/7, <br /> Sahapur Colony, Bankim Mukherjee Sarani, <br />Block J ,<br />Kolkata, West Bengal - 700053

                                </p>
                            </div>
                            <div class="ftr-add">
                                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <a href="tel:+919903866366"> +91 99038 66366 </a>
                            </div>
                            <div class="ftr-add">
                                <span><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                                <a href="mailto:contact@wealthclockadvisors.com "> contact@wealthclockadvisors.com </a>
                            </div>
                        </div>
                    </div>
                    <!-- == -->
                    <div class="col-sm-2 col-xs-6">
                        <div class="ftr-inn">
                            <h5>get in touch</h5>
                            <a href="https://www.facebook.com/wealthclock/" class="social">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                <p>facebook</p>
                            </a>
                            <a href="https://twitter.com/wealthclock?lang=en" class="social">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <p>twitter</p>
                            </a>
                            <a href="https://www.linkedin.com/company/wealthclockadvisors" class="social">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                <p>LinkedIn</p>
                            </a>
                            <a href="https://www.pinterest.com/wealthclockadvisor/" class="social">
                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                <p>Pinterest</p>
                            </a>

                            <a href="https://www.youtube.com/channel/UCoUK3b303NIYAAqNM4jSWoQ" class="social">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                                <p>Youtube</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftr-sec-new">
        <div class="container">
            <div class="certify-inn">
                <div class="certify-cell">
                    <div class="certify-image">
                        <a href="https://www.amfiindia.com/" target="_blank" class="certify-image">
                            <img src="~/images/AMFI-Logo.png" alt="" width="60" />
                        </a>
                    </div>
                    <p>
                        ASSOCIATION OF MUTUAL FUNDS OF INDIA<br />REGISTERED MUTUAL FUND DISTRIBUTOR <br />ARN:115995
                    </p>
                </div>
                <div class="certify-cell">
                    <div class="certify-image">
                        <a href="https://www.bseindia.com/" target="_blank" class="certify-image">
                            <img src="~/images/Bombay_Stock_Exchange_logo.png" alt="" width="100" />
                        </a>
                    </div>
                    <p>
                        BSE REGISTERED MUTUAL FUND <br />DISTRIBUTOR MUTUAL FUND <br />CODE NO:11946
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="ftr-outr clearfix">
                <h6>Disclaimer</h6>
                <p>
                    Mutual fund investments are subject to market risks. Please read the scheme information and other related documents carefully before investing. Past performance is not indicative of future returns. Please consider your specific investment requirements before choosing a fund, or designing a portfolio that suits your needs
                </p>
                <p>Wealthclock Advisors with ARN code 115995 makes no warranties or representations, express or implied, on products offered through the platform. It accepts no liability for any damages or losses, however caused, in connection with the use of, or on the reliance of its product or related services. Terms and conditions of the website are applicable. </p>
            </div>
            <div class="ftr-copy">
                <p>2019 Copyright &copy; <a href="@Url.Content("~/Home/Index")">WealthClock</a>. All rights reserved.</p>
                <ul>
                    <li>
                        <a href="@Url.Content("~/Home/PrivacyPolicy")">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Home/TermsAndConditions")">Terms &amp; Condition</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Home/Disclosure")">Disclosure</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <script src="~/js/custom.js"></script>

    <script src="~/js/jquery-1.11.3.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/equalheight.js"></script>
    <script src="~/js/responsive-tabs.js"></script>
    <script src="~/js/wow.js" type="text/javascript"></script>
    <script src="~/js/utils.js"></script>


    <script src="~/js/jquery-ui.js" type="text/javascript"></script>
    <script src="~/js/range-ui.js" type="text/javascript"></script>
    <script src="~/js/jquery.steps.js" type="text/javascript"></script>
    <script src="~/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/js/responsive-tabs.js"></script>

    <script src="~/js/money-tools.js" type="text/javascript"></script>

    <script src="~/js/woco.accordion.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <!-- custom scripts -->
    <script type="text/javascript">
        $("#dob,#indt,#mtdt,#expyr,#mtdt1,#pod, #request_callback_time, #txtEndDate, #pod12, #pod13, #pod14, #pod15, #pod20, #pod21, #pod22, #pod23").datepicker({
            yearRange: "-50:+5",
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });

        


        $('.request-btn').click(function () {
            debugger;
            var Name = $('#feedname').val();
            var Email = $('#feedemail').val();
            var Phone = $('#feedmobile').val();
            var Date = $('#request_callback_time').val();
            var _time = $("ul[id*=feedTime] li").html();
            _time =  _time.replace('<a href="#">', '');
            var Time = _time.replace('</a>','');
            var Message = $('#feedmsg').val();
            $('.ui-loader').removeClass('hide');
            $.post("@Url.Content("~/Home/RequestCallBack")", {
                Name: Name, Email: Email, Mobile: Phone,
                PrefDate: Date, PrefTime: Time, Message: Message
            }, function (data) {
                if (data != null) {
                    if (data.split('|')[0] == 'Success') {
                        $('.ui-loader').addClass('hide');
                        $('#div_success').removeClass('hide');
                        setTimeout(function () {
                            $('#div_success').addClass('hide');
                            $('#txt_success').text('');
                            location.reload();
                        }, 3000)
                    }
                    else {
                        $('.ui-loader').addClass('hide');
                        $('#div_error').removeClass('hide');
                        setTimeout(function () {
                            $('#div_error').addClass('hide');
                            $('#txt_error').text('');
                        }, 2000)

                    }

                }
            });
        });
    </script>





</body>
</html>
