

@{
    ViewBag.Title = "CuttingExtraExpenses";
    Layout = "~/Views/Shared/_LayoutSIP.cshtml";
}
<style>
    li.current-menu-item > a {
        color: #0caea3 !important;
    }

    .delayed .txt-type {
        margin-bottom: 5px;
    }

    .delayed .bootstrap-select {
        margin-bottom: 5px;
    }
</style>


<link href="@Url.Content("~/css/ion.rangeSlider.css")" rel="stylesheet" />
<link href="@Url.Content("~/css/ion.rangeSlider.skinFlat.css")" rel="stylesheet" />



<div class="money-top">
    <!-- long-term -->
    <section class="hm long-term text-center">
        <div class="container">
            <div class="long-outr commn-outr">
                <h3>@ViewBag.position141</h3>
                <p>
                    @ViewBag.position142
                </p>
                <!-- <a class="commn-bttn whte wow fadeInUp" data-wow-delay="0.5s" href="javascript:void(0)">read more</a> -->
            </div>
        </div>
    </section>
    <!-- end long-term -->
    <section class="inner-page">
        <div class="container">
            <div class="rounded-box delayed">
                <div class="header-t">
                    <h2>@ViewBag.position143</h2>
                </div>
                <div class="row-custom clearfix">
                    <div class="col-md-4 select-box">
                        <label>Know power of cutting down your unwanted expenses</label>
                        <label>Total Expenses</label>
                        <input type="text" class="but txt-type" id="txtamnt" maxlength="8" />
                        <label class="errormsg hide" id="spnamnt">Please insert total expenses amount</label>
                        <label>How frequently can you save this Expense</label>
                        <select class="selectpicker" id="ddinterval">
                            <option selected value="">Select Your Options</option>
                            <option value="1">Yearly</option>
                            <option value="2">Semi Annual</option>
                            <option value="4">Quaterly</option>
                            <option value="12">Monthly</option>
                            <option value="52">Weekly</option>
                            <option value="365">Daily</option>
                        </select>
                        <label class="errormsg hide" id="spnddinterval">Please slect frequently expenses</label>
                        <label>For how many years you will save this Expense</label>

                        <select class="selectpicker" id="ddyear">
                            <option selected value="">Select year</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                        </select>
                        <label class="errormsg hide" id="spnddyear">Please slect year</label>
                        <label>Expected Return(%)</label>


                        <input type="text" id="slider4" value="" name="range" />
                        <label class="errormsg hide" id="spnslider4">Please slect range</label>
                    </div>
                    <div class="right-delayed-figure">
                        <div class="cost-text extra-t"> I can make <span id="spanresult" style="color: #EB7F1F; font-weight: 800;"></span> by cutting my expenses.</div>
                        <div class="fig-right"><img src="~/images/fig2.png" alt="" /></div>
                    </div>
                </div>
                <div class="singlerow-per clearfix">
                    <a class="commn-bttn" id="cuttingEx" href="javascript:void(0)">Calculate</a>
                    <!-- <input type="button" class="logbut" value="Calculate"> -->
                </div>
                <div class="delayed-list">
                    <ul>
                        <li><span>About Delayed Investment Calculator</span> - You can know, how much money you will loose, in case you delay your monthly Investments(SIP) today</li>
                        <li><span>What is Delay in investing</span> - Each of us have unlimited financial goals- Retirement, Kids education planning, Marriage, vacation etc.. To fulfil these goals, one need to start saving money at right time , so that one can create desired fund. Sooner you start, lower the amount of savings you need to create fund.If you delay the investments today, you will require more money to invest to meet goal.</li>
                        <li><span>Basis</span> - You can enter the amount of SIP you want or you wanted to start ,alongwith the period of investment. Enter the period of delay to start your SIP.All returns are Pre tax returns.</li>
                        <li><span>More</span> - To know which are the right investments for you to meet your financial Goals, Start Now</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="@Url.Content("~/js/jquery-1.11.3.js")"></script>
<script src="@Url.Content("~/js/ion.rangeSlider.min.js")"></script>
<script src="@Url.Content("~/js/rangepage.js")"></script>
<script>
    $('.rght-menu').addClass('inn-menu');
    $(document).ready(function () {
        $(".footmenu").each(function (e) {
            if (e == '3') {
                $(this).addClass('current-menu-item');
            }
        });

        $(".headmenu").each(function (e) {
            if (e == '3') {
                $(this).addClass('current-menu-item');
            }
        });

        $("#cuttingEx").click(function (e) {
            $("#txtamnt").removeClass('errorTextBox');
            $("#ddinterval").removeClass('errorTextBox');
            $("#ddyear").removeClass('errorTextBox');
            $("#slider4").removeClass('errorTextBox');
            $("#spnamnt").addClass('hide');
            $("#spnddinterval").addClass('hide');
            $("#spnddyear").addClass('hide');
            $("#spnslider4").addClass('hide');
            var isActive = validation();
            if (isActive) {
                var A = $("#txtamnt").val();
                var N = $("#ddinterval").val();
                var I = $("#slider4").val() / 100;
                var y = $("#ddyear").val();
                I = I / N;
                N = N * y;
                var res = (1 + I);
                res = Math.pow(res, N);
                res = res - 1;
                res = res / I;
                res = res * (1 + I);
                res = res * A;
                var result = res.toFixed(2);
                result = FromatIndiancurrency(result);
                $("#spanresult").html('&#x20B9;' + result);
            }

        });

        function validation() {
            var IsActive = true;
            if ($("#txtamnt").val() == "") {
                //$("#txtamnt").focus();
                $("#txtamnt").addClass('errorTextBox');
                $("#spnamnt").removeClass('hide');
                IsActive = false;
            }
            else if ($("#ddinterval").val() == "") {
                $("#ddinterval").addClass('errorTextBox');
                // $("#ddinterval").focus();
                $("#spnddinterval").removeClass('hide');
                IsActive = false;
            }
            else if ($("#ddyear").val() == "") {
                $("#ddyear").addClass('errorTextBox');
                // $("#ddyear").focus();
                $("#spnddyear").removeClass('hide');
                IsActive = false;
            }
            else if ($("#slider4").val() == '0' && $("#slider4").val() == "") {
                $("#slider4").addClass('errorTextBox');
                //$("#slider4").focus();
                $("#spnslider4").addClass('hide');
                IsActive = false;
            }
            return IsActive;
        }
        function FromatIndiancurrency(dight) {
            var x = parseInt(dight);
            x = x.toString();
            var lastThree = x.substring(x.length - 3);
            var otherNumbers = x.substring(0, x.length - 3);
            if (otherNumbers != '')
                lastThree = ',' + lastThree;
            var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
            return res;
        }
        $("#txtamnt").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
    });
</script>