@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<style>
    .addcustomClass {
        color: #ffffff !important;
        background: #0caea3 !important;
    }
</style>
<style>
    .commn-outr p {
        color: #ffffff;
        font-size: 12px;
    }
</style>
<!-- banner -->
<section class="bannr-sec top-picks">
    <div class="bannr-outr">
        <div class="container">
            <div class="bannr-innr wow fadeInUp" data-wow-delay="0.5s">
                <h1>@ViewBag.position131</h1>
                <!-- <h5>Proin gravida nibh vel velit auctor alique enean sollicitudin</h5> -->
            </div>
        </div>
    </div>
    <!-- end banner -->
    <!-- new mouse start -->
    <div class="ng-scope" id="content-view">
        <div style="display: block;" class="ng-scope" id="mouse-scroll">
            <div><span class="unu"> </span> <span class="doi"> </span> <span class="trei"> </span> </div>
        </div>
    </div>
    <!-- new mouse ends -->
</section>
<!-- long-term -->
<section class="hm long-term text-center">
    <div class="container">
        <div class="long-outr commn-outr">
            <p style="font-size: 15px;">
               @ViewBag.position132
            </p>
            <!-- <a class="commn-bttn whte wow fadeInUp" data-wow-delay="0.5s" href="javascript:void(0)">read more</a> -->
        </div>
    </div>
</section>
<!-- end long-term -->
<!-- </figure> -->
<!-- top-picks -->
<section class="money-sec">
    <div class="container">
        <div class="commn-outr wow fadeInUp">
            <div class="sort-sec clearfix">
                <div class="sort-list clearfix">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar">&nbsp;</span>
                            <span class="icon-bar">&nbsp;</span>
                            <span class="icon-bar">&nbsp;</span>
                        </button>
                        <nav class="collapse navbar-collapse2">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" id="anc_all">All</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="10">ELSS</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="11">Large Cap</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="12">Mid Cap</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="13">Multi Cap</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="14">Small Cap</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="15">Balanced Fund</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="16">Income Fund</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="17">Liquid</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="18">MIP</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="anc_fundCat" data-fundcat="19">Sector Funds</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="wealth-outr clearfix">
                    <div id="mainDiv">


                        <div class="col-sm-6 col-md-3 col-xs-12">
                            <div class="wealth-innr">
                                <div id="card" class="card">
                                    <figure class="wealth-recomen front">
                                        <div class="wealth-recomenhdr">
                                            <h3 title="BNP Paribas Large Cap Fund (G)">BNP Paribas Large Cap Fund (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Category:</span>
                                                <em>Equity</em>
                                            </li>
                                            <li>
                                                <span>Wealthclock Rating:</span>
                                                <em>
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />

                                                </em>
                                            </li>
                                            <li>
                                                <span>Current NAV (Rs.):</span>
                                                <em>95.6600</em>
                                            </li>
                                            <li>
                                                <span>Type:</span>
                                                <em>Open Ended</em>
                                            </li>
                                            <li>
                                                <span>Benchmark:</span>
                                                <em>Nifty 50</em>
                                            </li>
                                        </ul>
                                        <div class="wealth-perform">
                                            <h4>Performance (CAGR%)</h4>
                                            <ul>
                                                <li>
                                                    <span>1 Year:</span>
                                                    <em>18.43%</em>
                                                </li>
                                                <li>
                                                    <span>3 Year:</span>
                                                    <em>14.49%</em>
                                                </li>
                                                <li>
                                                    <span>5 Year:</span>
                                                    <em>8.95%</em>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bttns-sec fdx">
                                            <a class="commn-bttn anc_investmutualfund" href="javascript:void(0)" data-fundid="1627">Invest</a>
                                        </div>
                                    </figure>
                                    <!-- ==== -->
                                    <figure class="wealth-recomen back">

                                        <div class="wealth-recomenhdr">
                                            <h3 title="BNP Paribas Large Cap Fund (G)">BNP Paribas Large Cap Fund (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Min. Investment: </span>
                                                <em> &#x20B9; 5000.0</em>
                                            </li>
                                            <li>
                                                <span>SIP Min. Investment: </span>
                                                <em> &#x20B9; 300.0</em>
                                            </li>
                                            <li>
                                                <span>Expense Ratio:</span>
                                                <em>2.35 %</em>
                                            </li>
                                            <li>
                                                <span>Exit Load:</span>
                                                <em>For units in excess of 10% of the investment,1% will be charged for redemption within 365 days</em>
                                            </li>
                                            <li>
                                                <span>Risk:</span>
                                                <em>Moderately High</em>
                                            </li>
                                            <li>
                                                <span>
                                                    Disclaimer:<p>Mutual fund investments are subject to market risks. Please read the scheme information and other related documents carefully before investing.&nbsp;</p>

                                                    <p>Past performance is not indicative of future returns.</p>
                                                </span>
                                            </li>
                                        </ul>
                                    </figure>
                                </div>
                                <div class="options">
                                    <span id="flip" class="flip-btn flip">
                                        <em class="nrm">More</em>
                                        <em style="color: #fff;" class="bck hide">Back</em>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-12">
                            <div class="wealth-innr">
                                <div id="card" class="card">
                                    <figure class="wealth-recomen front">
                                        <div class="wealth-recomenhdr">
                                            <h3 title="Mahindra Unnati Emerging Business Yojana (G)">Mahindra Unnati Emerging Business Yojana (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Category:</span>
                                                <em>Equity</em>
                                            </li>
                                            <li>
                                                <span>Wealthclock Rating:</span>
                                                <em>
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />

                                                </em>
                                            </li>
                                            <li>
                                                <span>Current NAV (Rs.):</span>
                                                <em>9.5964</em>
                                            </li>
                                            <li>
                                                <span>Type:</span>
                                                <em>Open Ended</em>
                                            </li>
                                            <li>
                                                <span>Benchmark:</span>
                                                <em>S&amp;P BSE Mid Cap</em>
                                            </li>
                                        </ul>
                                        <div class="wealth-perform">
                                            <h4>Performance (CAGR%)</h4>
                                            <ul>
                                                <li>
                                                    <span>1 Year:</span>
                                                    <em>7.16%</em>
                                                </li>
                                                <li>
                                                    <span>3 Year:</span>
                                                    <em>-</em>
                                                </li>
                                                <li>
                                                    <span>5 Year:</span>
                                                    <em>-</em>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bttns-sec fdx">
                                            <a class="commn-bttn anc_investmutualfund" href="javascript:void(0)" data-fundid="25015">Invest</a>
                                        </div>
                                    </figure>
                                    <!-- ==== -->
                                    <figure class="wealth-recomen back">

                                        <div class="wealth-recomenhdr">
                                            <h3 title="Mahindra Unnati Emerging Business Yojana (G)">Mahindra Unnati Emerging Business Yojana (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Min. Investment: </span>
                                                <em> &#x20B9; 1000.0</em>
                                            </li>
                                            <li>
                                                <span>SIP Min. Investment: </span>
                                                <em> &#x20B9; 500.0</em>
                                            </li>
                                            <li>
                                                <span>Expense Ratio:</span>
                                                <em>2.47%</em>
                                            </li>
                                            <li>
                                                <span>Exit Load:</span>
                                                <em>1% for redemption within 365 days</em>
                                            </li>
                                            <li>
                                                <span>Risk:</span>
                                                <em>Moderately High</em>
                                            </li>
                                            <li>
                                                <span>
                                                    Disclaimer:<p>Mutual fund investments are subject to market risks. Please read the scheme information and other related documents carefully before investing.&nbsp;</p>

                                                    <p>Past performance is not indicative of future returns</p>
                                                </span>
                                            </li>
                                        </ul>
                                    </figure>
                                </div>
                                <div class="options">
                                    <span id="flip" class="flip-btn flip">
                                        <em class="nrm">More</em>
                                        <em style="color: #fff;" class="bck hide">Back</em>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-12">
                            <div class="wealth-innr">
                                <div id="card" class="card">
                                    <figure class="wealth-recomen front">
                                        <div class="wealth-recomenhdr">
                                            <h3 title="BNP Paribas Large Cap Fund (G)">BNP Paribas Large Cap Fund (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Category:</span>
                                                <em>Equity</em>
                                            </li>
                                            <li>
                                                <span>Wealthclock Rating:</span>
                                                <em>
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />

                                                </em>
                                            </li>
                                            <li>
                                                <span>Current NAV (Rs.):</span>
                                                <em>95.6600</em>
                                            </li>
                                            <li>
                                                <span>Type:</span>
                                                <em>Open Ended</em>
                                            </li>
                                            <li>
                                                <span>Benchmark:</span>
                                                <em>Nifty 50</em>
                                            </li>
                                        </ul>
                                        <div class="wealth-perform">
                                            <h4>Performance (CAGR%)</h4>
                                            <ul>
                                                <li>
                                                    <span>1 Year:</span>
                                                    <em>18.43%</em>
                                                </li>
                                                <li>
                                                    <span>3 Year:</span>
                                                    <em>14.49%</em>
                                                </li>
                                                <li>
                                                    <span>5 Year:</span>
                                                    <em>8.95%</em>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bttns-sec fdx">
                                            <a class="commn-bttn anc_investmutualfund" href="javascript:void(0)" data-fundid="1627">Invest</a>
                                        </div>
                                    </figure>
                                    <!-- ==== -->
                                    <figure class="wealth-recomen back">

                                        <div class="wealth-recomenhdr">
                                            <h3 title="BNP Paribas Large Cap Fund (G)">BNP Paribas Large Cap Fund (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Min. Investment: </span>
                                                <em> &#x20B9; 5000.0</em>
                                            </li>
                                            <li>
                                                <span>SIP Min. Investment: </span>
                                                <em> &#x20B9; 300.0</em>
                                            </li>
                                            <li>
                                                <span>Expense Ratio:</span>
                                                <em>2.35 %</em>
                                            </li>
                                            <li>
                                                <span>Exit Load:</span>
                                                <em>For units in excess of 10% of the investment,1% will be charged for redemption within 365 days</em>
                                            </li>
                                            <li>
                                                <span>Risk:</span>
                                                <em>Moderately High</em>
                                            </li>
                                            <li>
                                                <span>
                                                    Disclaimer:<p>Mutual fund investments are subject to market risks. Please read the scheme information and other related documents carefully before investing.&nbsp;</p>

                                                    <p>Past performance is not indicative of future returns.</p>
                                                </span>
                                            </li>
                                        </ul>
                                    </figure>
                                </div>
                                <div class="options">
                                    <span id="flip" class="flip-btn flip">
                                        <em class="nrm">More</em>
                                        <em style="color: #fff;" class="bck hide">Back</em>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-12">
                            <div class="wealth-innr">
                                <div id="card" class="card">
                                    <figure class="wealth-recomen front">
                                        <div class="wealth-recomenhdr">
                                            <h3 title="Invesco Ultra Short Term Fund (G)">Invesco Ultra Short Term Fund (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Category:</span>
                                                <em>Debt</em>
                                            </li>
                                            <li>
                                                <span>Wealthclock Rating:</span>
                                                <em>
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />
                                                    <img src="~/images/ratingfull.png" alt="" />

                                                </em>
                                            </li>
                                            <li>
                                                <span>Current NAV (Rs.):</span>
                                                <em>2002.6037</em>
                                            </li>
                                            <li>
                                                <span>Type:</span>
                                                <em>Open Ended</em>
                                            </li>
                                            <li>
                                                <span>Benchmark:</span>
                                                <em>CRISIL Ultra ST Debt</em>
                                            </li>
                                        </ul>
                                        <div class="wealth-perform">
                                            <h4>Performance (CAGR%)</h4>
                                            <ul>
                                                <li>
                                                    <span>1 Year:</span>
                                                    <em>8.15%</em>
                                                </li>
                                                <li>
                                                    <span>3 Year:</span>
                                                    <em>7.37%</em>
                                                </li>
                                                <li>
                                                    <span>5 Year:</span>
                                                    <em>8.00%</em>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bttns-sec fdx">
                                            <a class="commn-bttn anc_investmutualfund" href="javascript:void(0)" data-fundid="2051">Invest</a>
                                        </div>
                                    </figure>
                                    <!-- ==== -->
                                    <figure class="wealth-recomen back">

                                        <div class="wealth-recomenhdr">
                                            <h3 title="Invesco Ultra Short Term Fund (G)">Invesco Ultra Short Term Fund (G)</h3>
                                        </div>
                                        <ul>
                                            <li>
                                                <span>Min. Investment: </span>
                                                <em> &#x20B9; 1000.0</em>
                                            </li>
                                            <li>
                                                <span>SIP Min. Investment: </span>
                                                <em> &#x20B9; 1000.0</em>
                                            </li>
                                            <li>
                                                <span>Expense Ratio:</span>
                                                <em>0.90%</em>
                                            </li>
                                            <li>
                                                <span>Exit Load:</span>
                                                <em>0</em>
                                            </li>
                                            <li>
                                                <span>Risk:</span>
                                                <em>Moderate</em>
                                            </li>
                                            <li>
                                                <span>
                                                    Disclaimer:<p>Mutual fund investments are subject to market risks. Please read the scheme information and other related documents carefully before investing.&nbsp;Past performance is not indicative of future returns</p>
                                                </span>
                                            </li>
                                        </ul>
                                    </figure>
                                </div>
                                <div class="options">
                                    <span id="flip" class="flip-btn flip">
                                        <em class="nrm">More</em>
                                        <em style="color: #fff;" class="bck hide">Back</em>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 text-center hide" id="div_loader">
                    <div><img class="" src="~/images/loader.gif" alt="" /></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="@Url.Content("~/js/jquery-1.11.3.js")"></script>

<script>
    $(document).ready(function () {
        $(".footmenu").each(function (e) {
            if ($(this).text().trim() == '- Wealthclock Picks') {
                $(this).addClass('current-menu-item');
            }
        });

        $(".headmenu").each(function (e) {
            if (e == '2') {
                $(this).addClass('current-menu-item');
            }
        });
    });
</script>


<script type="text/javascript">
    var toNumber = 8;
    var fromNumber = 5;
    var fcat = 0;
    var passed_service = false;

    $('.anc_fundCat').click(function (e) {
        e.preventDefault();
        toNumber = 8;
        fromNumber = 5;
        passed_service = false;
        $('.ui-loader').removeClass('hide');
        $('#anc_all').removeClass('addcustomClass');
        $('.anc_fundCat').removeClass('addcustomClass');
        $(this).addClass('addcustomClass');
        var fundcatID = $(this).data('fundcat');
        fcat = fundcatID;
        $.post("@Url.Content("~/WealthclockPicks/showPartialviews")", { fundcatID: Number($(this).data('fundcat')) }, function (result) {
            if (result != "") {
                $('#mainDiv').html('');
                //$('#secondDiv').html('');
                $('#mainDiv').html(result);
                $('.ui-loader').addClass('hide');
            }
        })
    });

    $('#anc_all').click(function () {
        toNumber = 8;
        fromNumber = 5;
        fcat = 0;
        passed_service = false;
        $('.anc_fundCat').removeClass('addcustomClass');
        $('#anc_all').addClass('addcustomClass');
        $('.ui-loader').removeClass('hide');
        $.post("@Url.Content("~/WealthclockPicks/getallFunds")", function (result) {
            if (result != "") {
                $('#mainDiv').html('');
                $('#secondDiv').html('');
                $('#mainDiv').html(result);
                $('.ui-loader').addClass('hide');
            }
        })
    });


    $('body,html').bind('scroll wheel DOMMouseScroll mousewheel touchmove', function (event) {
        if ($(window).scrollTop() >= ($("#mainDiv").height())) {
            if (!passed_service) {
                $('#div_loader').removeClass('hide');
                passed_service = true;
                $.post("@Url.Content("~/WealthclockPicks/getMoretopPicks")", { fromNo: fromNumber, toNo: toNumber, fcat: fcat }, function (result) {
                    if ($.trim(result) != "<p>Sorry no fund Available</p>" && result != "") {
                        $('#mainDiv').append(result);
                        toNumber = toNumber + 4;
                        fromNumber = fromNumber + 4;
                        passed_service = false;
                    }
                    else if ($.trim(result) == "<p>Sorry no fund Available</p>") {
                        $('#div_loadbutton').addClass('hide');
                        passed_service = true;
                    }
                    $('#div_loader').addClass('hide');
                })
            }
        }
    });

</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //$('.bck').click(function () {
        $('body').on('click', '.bck', function () {
            $(this).addClass('hide');
            $(this).parent().find('.nrm').removeClass('hide');
            $(this).parent().parent().parent().find('.card').toggleClass('flipped');
            return false;
        });
        //$('.nrm').click(function () {
        $('body').on('click', '.nrm', function () {
            $(this).addClass('hide');
            $(this).parent().find('.bck').removeClass('hide');
            $(this).parent().parent().parent().find('.card').toggleClass('flipped');
            return false;
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#anc_all').addClass('addcustomClass');
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<!--Lazy loader-->
<script type="text/javascript">

</script>

<!--Abhirup ghosh  17.07.2017-->
<!--Hit the invest button-->
<script type="text/javascript">
    $('body').on('click', '.anc_investmutualfund', function (e) {
        e.preventDefault();
        if ($(this).data('fundid') != "") {
            var id = $(this).data('fundid');
            var active = 0;
            if (($("li .addcustomClass").attr('data-fundcat')) != undefined) {
                active = Number($("li .addcustomClass").attr('data-fundcat'));
            }

            $.post("@Url.Content("~/WealthclockPicks/InvestFund")", { fundid: $(this).data('fundid'), activeID: active }, function (result) {
                if (result == "in") {
                    @*var url = '@Url.Action("WealthclockRecomended", "Transact", new { fundid = "__param__" })';
                    window.location.href = url.replace('__param__',  Number(id));*@
                    window.location.href = '@Url.Action("WealthclockRecomended", "Transact")';  //set the value to tempdate
                }
                else if (result == "out") {
                    window.location.href = '@Url.Action("login", "Account")';
                }
            })

            @*var url = '@Url.Action("InvestFund", " WealthclockPicks", new { fundid = "__param__" })';
            window.location.href = url.replace('__param__', $(this).data('fundid'));*@
        }
    })
</script>