@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

}

<style>
    li.current-menu-item > a {
        color: #0caea3 !important;
    }

    h3 {
        color: #777777;
    }
</style>

<!-- heading -->
<section class="trend-bnnr">
    <div class="container">
        <div class="trend-inn">
            <h1>@ViewBag.position174</h1>
        </div>
    </div>
</section>
<!-- end heading -->
<!-- trending -->
<section class="trendng-sec">
    <div class="container">
        <div class="commn-outr">
            <div class="row">
                <!--Left Pannel-->
                <div class="col-sm-push-8 col-md-4 col-sm-4">
                    <div class="popul-posts">
                        <h2>@ViewBag.position175</h2>
                        <ul>
                            <li>
                                <a href="Blog/do-blindly-chasing-returns-truly-help-let%27s-find-out-here.html">
                                    <p>@ViewBag.position176</p>
                                    @*<img class="popul-image" src="~/Admin/images/Doblindlychasingreturnstrulyhelp-1.jpg" alt="" />*@
                                </a>
                            </li>
                            <li>
                                <a href="Blog/what-makes-mutual-funds-a-great-way-to-start-investing.html">
                                    <p>@ViewBag.position177</p>
                                    <img class="popul-image" src="~/Admin/images/What-makes-Mutual-Funds" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/keep-the-faith-markets-will-recover-as-they-always-do.html">
                                    <p>@ViewBag.position178</p>
                                    <img class="popul-image" src="~/Admin/images/analysis-analytics-charts-669610" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/financial-advice-for-my-new-daughter.html">
                                    <p>@ViewBag.position179</p>
                                    <img class="popul-image" src="~/Admin/images/Capture" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/what%27s-the-best-approach-to-achieve-big-financial-goals.html">
                                    <p>@ViewBag.position180</p>
                                    <img class="popul-image" src="~/Admin/images/big-financial-goals" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/managed-to-save-a-lakh-here%27s-what-to-do-next.html">
                                    <p>@ViewBag.position181</p>
                                    <img class="popul-image" src="~/Admin/images/wealthclock-blog-banner" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/4-important-lessons-that-will-make-you-a-better-investor.html">
                                    <p>@ViewBag.position182</p>
                                    <img class="popul-image" src="~/Admin/images/4ImportantLessonsThatWillMakeYouA1" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/know-the-benefits-of-using-term-insurance.html">
                                    <p>@ViewBag.position183</p>
                                    <img class="popul-image" src="~/Admin/images/Knowthebenefitsofusingterminsurance1" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/don%27t-just-look-at-a-fund%27s-one-year-returns-while-investing-in-it.html">
                                    <p>@ViewBag.position184</p>
                                    <img class="popul-image" src="~/Admin/images/Dontjustlookatafunds" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/few-wrong-steps-will-lead-you-to-lose-your-investment-money.html">
                                    <p>@ViewBag.position185</p>
                                    <img class="popul-image" src="~/Admin/images/Few-Wrong-Steps-Will-Lead-You-To-Lose-Your" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/are-you-receiving-less-than-the-normal-market-return-know-the-reasons-here.html">
                                    <p>@ViewBag.position186</p>
                                    <img class="popul-image" src="~/Admin/images/Areyoureceivinglessthanthenormal" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/are-you-in-your-30s-then-this-the-ideal-time-to-buy-a-term-insurance.html">
                                    <p>@ViewBag.position187</p>
                                    <img class="popul-image" src="~/Admin/images/Areyouinyour30" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/do-you-know-what%27s-the-best-time-to-invest-in-mutual-funds.html">
                                    <p>@ViewBag.position188</p>
                                    <img class="popul-image" src="~/Admin/images/Doyouknowwhatsthebesttimeto" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/when-should-you-ideally-review-your-mutual-fund-investment-schemes.html">
                                    <p>@ViewBag.position189</p>
                                    <img class="popul-image" src="~/Admin/images/AnInsighttoaDigi-Locker2" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/looking-to-invest-in-mutual-funds-check-out-your-available-options.html">
                                    <p>@ViewBag.position190</p>
                                    <img class="popul-image" src="~/Admin/images/Lookingtoinvestinmutualfunds1" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/investors-working-with-advisers-are-more-confident.html">
                                    <p>@ViewBag.position191</p>
                                    <img class="popul-image" src="~/Admin/images/pexels-photo-1153213" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/advisor-zaruri-hai-doing-it-yourself-may-be-costing-you-money.html">
                                    <p>@ViewBag.position192</p>
                                    <img class="popul-image" src="~/Admin/images/pexels-photo-1288483" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/plan-your-retirement-perfectly-from-christmas-2018.html">
                                    <p>@ViewBag.position193</p>
                                    <img class="popul-image" src="~/Admin/images/RetirementhasjustgoteasierthroughourChristmasspecialoffer" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/mutual-fund-investment-the-right-way-to-lead-a-better-life.html">
                                    <p>@ViewBag.position194</p>
                                    <img class="popul-image" src="~/Admin/images/MUTUALFUNDINVESTMENT" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/what-are-equity-linked-savings-schemes-elss.html">
                                    <p>@ViewBag.position195</p>
                                    <img class="popul-image" src="~/Admin/images/pexels-photo-921783" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/why-mutual-funds-are-better-option-when-starting-financial-planning-as-compared-to-other-investment-options.html">
                                    <p>@ViewBag.position196</p>
                                    <img class="popul-image" src="~/Admin/images/Whyshouldyougoformutualfunds1" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/understanding-the-behaviour-gap-in-investing.html">
                                    <p>@ViewBag.position197</p>
                                    <img class="popul-image" src="~/Admin/images/pexels-photo-278965" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/8-effective-investment-destinations-to-rely-on.html">
                                    <p>@ViewBag.position198</p>
                                    <img class="popul-image" src="~/Admin/images/8-Effective-Investment-Destinations-to-rely-on_1" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/confused-where-to-invest-mutual-funds-or-stocks.html">
                                    <p>@ViewBag.position199</p>
                                    <img class="popul-image" src="~/Admin/images/064c842d-a0c8-4bf2-a267-9085fc964365" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/building-an-emergency-fund-with-mutual-funds.html">
                                    <p>@ViewBag.position200</p>
                                    <img class="popul-image" src="~/Admin/images/questions-2245264_640" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/what-are-equity-linked-savings-scheme-elss.html">
                                    <p>@ViewBag.position201</p>
                                    <img class="popul-image" src="~/Admin/images/credit-squeeze-522549_1280" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/mutual-funds-sahi-hai-par-kyu-sahi-hai.html">
                                    <p>@ViewBag.position202</p>
                                    <img class="popul-image" src="~/Admin/images/pexels-photo-68912" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/simple-steps-to-achieve-your-financial-goals.html">
                                    <p>@ViewBag.position203</p>
                                    <img class="popul-image" src="~/Admin/images/pexels-photo-131017" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/5-financial-tasks-you-can-easily-accomplish-with-your-incentive.html">
                                    <p>@ViewBag.position204</p>
                                    <img class="popul-image" src="~/Admin/images/alone-application-banking-938965" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/simple-yet-effective-tricks-to-control-your-credit-card-expenses.html">
                                    <p>@ViewBag.position205</p>
                                    <img class="popul-image" src="~/Admin/images/image1" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/did-you-know-the-basics-of-mutual-fund-investing.html">
                                    <p>@ViewBag.position206</p>
                                    <img class="popul-image" src="~/Admin/images/Basics-Mutual-Fund-Investing" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/the-power-of-doing-nothing.html">
                                    <p>@ViewBag.position207</p>
                                    <img class="popul-image" src="~/Admin/images/1_CNhIthklHWy0QSNrk4-Smw" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="Blog/why-lending-and-deposit-rates-change.html">
                                    <p>@ViewBag.position208</p>
                                    <img class="popul-image" src="~/Admin/images/hires1-kF3G--621x414%40LiveMint" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="popul-catag">
                        <h2>Categories</h2>
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="anc_category" data-id="1">Learn (20)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="anc_category" data-id="2">Investing (16)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="anc_category" data-id="3">Systematic Investments (1)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="anc_category" data-id="4">Tax Saving (3)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="anc_category" data-id="5">Personal Finance (10)</a>
                            </li>

                        </ul>
                    </div>

                </div>

                <!--Right Pannel-->
                <!-- ==== -->
                <div id="mainBlog">
                    <div class="col-sm-pull-4 col-md-8 col-sm-8" id="appendblog">
                        <div class="blog-sec">
                            <img src="~/Admin/images/Doblindlychasingreturnstrulyhelp-1.jpg" alt="" />
                            <div class="blog-innr">
                                <a href="Blog/do-blindly-chasing-returns-truly-help-let%27s-find-out-here.html"><h5>Do Blindly Chasing Returns Truly Help? Let&#39;s Find Out Here</h5></a>

                                <span>09 Sep, 19</span>
                                <p>

                                <p>
                                    @ViewBag.position209
                                </p>
                                <a class="commn-bttn" href="Blog/do-blindly-chasing-returns-truly-help-let%27s-find-out-here.html">Read More</a>
                            </div>
                        </div>
                        <div class="blog-sec">
                            <img src="~/Admin/images/asimplefinancialchecklistfornewparents.jpg" alt="" />
                            <div class="blog-innr">
                                <a href="Blog/a-simple-financial-checklist-for-new-parents.html"><h5>A simple financial checklist for new parents</h5></a>

                                <span>14 Aug, 19</span>
                                <p>

                                <p>
                                   @ViewBag.position210
                                </p>
                                <a class="commn-bttn" href="Blog/a-simple-financial-checklist-for-new-parents.html">Read More</a>
                            </div>
                        </div>
                        <div class="blog-sec">
                            <img src="~/Admin/images/What-makes-Mutual-Funds.jpg" alt="" />
                            <div class="blog-innr">
                                <a href="Blog/what-makes-mutual-funds-a-great-way-to-start-investing.html"><h5>What makes Mutual Funds a great way to start investing?</h5></a>

                                <span>08 Aug, 19</span>
                                <p>

                                <p>
                                    @ViewBag.position211
                                </p>
                                <a class="commn-bttn" href="Blog/what-makes-mutual-funds-a-great-way-to-start-investing.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- load-more -->
                    <div class="text-center hide" id="div_loader">
                        <div><img class="" src="~/images/loader.gif" alt="" /></div>
                    </div>
                    <!-- end load-more -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end trending -->


<script src="@Url.Content("~/js/jquery-1.11.3.js")"></script>

<script type="text/javascript">
    $('.rght-menu').addClass('inn-menu');
    $(document).ready(function () {
        $(".footmenu").each(function (e) {
            if (e == '4') {
                $(this).addClass('current-menu-item');
            }
        });

        $(".headmenu").each(function (e) {
            if (e == '4') {
                $(this).addClass('current-menu-item');
            }
        });
    });
</script>

<!--Lazy loader-->
<script type="text/javascript">
    var categoryID = 0;

    var toNumber = 6;
    var fromNumber = 4;
    var passed_service = false;
    $('body,html').bind('scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove', function (event) {
        if ($(window).scrollTop() >= ($("#mainBlog").height())) {
            if (!passed_service) {
                $('#div_loader').removeClass('hide');
                passed_service = true;
                $.post("@Url.Content("~/Insights/getMoreBlogs")", { fromNo: fromNumber, toNo: toNumber, categoryID: categoryID }, function (result) {
                    if ($.trim(result) != "<p>No data more...</p>" && result != "") {
                        $('#appendblog').append(result);
                        toNumber = toNumber + 3;
                        fromNumber = fromNumber + 3;
                        passed_service = false;
                    }
                    else if ($.trim(result) == "<p>No data more...</p>") {
                        $('#div_loadbutton').addClass('hide');
                    }
                    $('#div_loader').addClass('hide');
                })
            }
        }
    });


    //Filter with category
    $('.anc_category').click(function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        if (id > 0) {
            categoryID = id;
            $('.ui-loader').removeClass('hide');
            $.post("@Url.Content("~/Insights/FilterBlog")", { blogCategoryID: id }, function (result) {
                if (result != "") {
                    $('.ui-loader').addClass('hide');
                    $('#appendblog').html('');
                    $('#appendblog').html(result);
                    toNumber = 6;
                    fromNumber = 4;
                    passed_service = false;
                }
            })
        }
    })
</script>
