
@{
    ViewBag.title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}





<!-- end header -->

<section class="banner home-banr">

    <!--1st Banner-->

    <div class="sld_wldt">


        <!--2nd Banner-->


        <div class="item">
            <div class="fin_free_back ban_ht">
                <div class="finfree_in">
                    <div class="finfree_mat">
                        <h2>Take your first step towards <span>Financial <em>Freedom.</em></span></h2>
                        <h3>@ViewBag.position1</h3>
                        <a href="@Url.Content("~/WealthclockPicks/Index")">Click here to know more</a>
                    </div>
                    <div class="desktop_img">
                        <img src="~/images/desktop.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end banner -->
<!-- how it sec -->
<figure class="how-it-work">
    <div class="comn-outr">
        <div class="container">
            <div class="comm-hdr wow fadeInUp">
                <h2>@ViewBag.position2</h2>
                <p>@ViewBag.position3</p>
            </div>

            <div class="how-it-outr clearfix">
                <div class="col-lg-3 col-sm-3">
                    <div class="how-it-icn-outr">
                        <div class="how-it-num wow fadeInDown" data-wow-delay="0.5s">1</div>
                        <div class="how-it-icn-inn">
                            <div class="how-it-icn wow fadeInUp" data-wow-delay="0.5s"><img src="~/images/how-it-icn1.png" alt="" /></div>
                            <div class="how-it-icn-des">
                                <p>Get Started With<br />Wealthclock</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="how-it-icn-outr">
                        <div class="how-it-num wow fadeInDown" data-wow-delay="1s">2</div>
                        <div class="how-it-icn-inn">
                            <div class="how-it-icn wow fadeInUp" data-wow-delay="1s"><img src="~/images/how-it-icn2.png" alt="" /></div>
                            <div class="how-it-icn-des">
                                <p>Complete your <br />KYC</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="how-it-icn-outr">
                        <div class="how-it-num wow fadeInDown" data-wow-delay="1.5s">3</div>
                        <div class="how-it-icn-inn">
                            <div class="how-it-icn wow fadeInUp" data-wow-delay="1.5s"><img src="~/images/how-it-icn3.png" alt="" /></div>
                            <div class="how-it-icn-des">
                                <p>Choose the Right Fund</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="how-it-icn-outr">
                        <div class="how-it-num wow fadeInDown" data-wow-delay="2s">4</div>
                        <div class="how-it-icn-inn">
                            <div class="how-it-icn wow fadeInUp" data-wow-delay="2s"><img src="~/images/how-it-icn4.png" alt="" /></div>
                            <div class="how-it-icn-des">
                                <p>Achieve Your<br /> Goal</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="start-your clearfix">
                <h3>@ViewBag.position4</h3>
                <a href="@Url.Action("RegistrationPage", "Registration")" class="get-started">Get Started</a>
            </div>

        </div>
    </div>
</figure>

<!-- end how it sec -->
<!-- first compare -->

<section class="range_invst_sec">
    <div class="comn-outr">
        <div class="container">
            <div class="comm-hdr blue-txt wow fadeInUp">
                <h2>@ViewBag.position5</h2>
                <p>@ViewBag.position6</p>
            </div>
            <div class="range-slider-outr wow">
                <div class="range_sec_inner">
                    <div class="range_slide_contents">
                        <div class="range_lft">
                            <div class="range_lft_inr">
                                <div class="range_slide_txt">
                                    <p><i class="fa fa-inr" aria-hidden="true"></i><span>5000k</span></p>
                                    <p><i class="fa fa-inr" aria-hidden="true"></i><span>1000k</span></p>
                                    <p><i class="fa fa-inr" aria-hidden="true"></i><span>50,000</span></p>
                                </div>
                                <div class="range_slide">
                                    <div id="range_slider_vertical"></div>
                                </div>
                            </div>
                        </div>
                        <div class="range_rgt">
                            <div class="soft_progress_outr">
                                <div class="progress vertical">
                                    <div class="progress-bar progress-bar-info" role="progressbar" id="idFixedDeposit" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="max-height: 34%;">
                                        <div class="progress_content">
                                            <h4 id="idFDAmount">1.2Cr</h4>
                                            <p><span>Fixed deposit</span>5.95% after taxes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress vertical">
                                    <div class="progress-bar progress-bar-info prg_bar_2" id="idGold" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="max-height: 46%;">
                                        <div class="progress_content">
                                            <h4 id="idGoldAmount">R.S 151856545</h4>
                                            <p><span>Gold</span>7.85% after taxes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress vertical">
                                    <div class="progress-bar progress-bar-info prg_bar_3" id="idSensex" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="max-height: 80%;">
                                        <div class="progress_content">
                                            <h4 id="idSensexAmount">1.9Cr</h4>
                                            <p><span>Sensex</span>14% after taxes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress vertical">
                                    <div class="progress-bar progress-bar-info max-bar prg_bar_4" id="idWealthclock" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="max-height: 100%;">
                                        <div class="progress_content">
                                            <h4 id="idWCAmount">2 cr</h4>
                                            <p><span>Wealthclock</span>17% after taxes</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="range_value_app">
                        <span><i class="fa fa-inr" aria-hidden="true"></i></span>

                        <input type="text" id="marketchoosenAmount" value="" placeholder="" />

                        <span>invested</span>
                        <span>
                            <select class="" id="choosenAmountTime" style="width: 95px;">
                                <option value="0" selected>just once</option>
                                <option value="1">every month</option>
                            </select>
                        </span><span>for</span>
                        <span>
                            <select name="" id="moneyCompareYear">
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="5">05</option>
                                <option value="10">10</option>
                                <option value="30" selected>30</option>
                            </select>years
                        </span>
                    </div>
                </div>
            </div>

            <div class="comm-btn-outr">
                <a href="@Url.Action("LoginPage", "Login")" class="commn-btn">Start Your Knowledge Investing Today</a>
            </div>

        </div>
    </div>
</section>

<!-- end first compare -->
<!-- sophiticated sec -->
<figure class="sophiticated-sec">
    <div class="comn-outr">
        <div class="container">
            <div class="comm-hdr wht-txt wow fadeInUp">
                <h2>@ViewBag.position7</h2>
            </div>

            <div class="strategies-outr clearfix">
                <div class="col-lg-4 col-sm-4">
                    <div class="investing-outr">
                        <div class="stratigie-icn wow fadeInDown" data-wow-delay="0.5s"><img src="~/images/investment-icn1.png" alt="" /></div>
                        <div class="stratagies-des">
                            <h3>@ViewBag.position8</h3>
                            <p>@ViewBag.position9</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4">
                    <div class="investing-outr">
                        <div class="stratigie-icn wow fadeInDown" data-wow-delay="1s"><img src="~/images/investment-icn2.png" alt="" /></div>
                        <div class="stratagies-des">
                            <h3>@ViewBag.position10</h3>
                            <p> @ViewBag.position11</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="investing-outr">
                        <div class="stratigie-icn wow fadeInDown" data-wow-delay="1.5s"><img src="~/images/investment-icn3.png" alt="" /></div>
                        <div class="stratagies-des">
                            <h3>@ViewBag.position12</h3>
                            <p> @ViewBag.position13</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="comm-btn-outr">
                <a href="@Url.Action("LoginPage", "Login")" class="commn-btn">Start Your Investment</a>
            </div>
        </div>
    </div>
</figure>
<!-- end sophiticated sec -->
<!--  your maney  -->
<figure class="your-money-sec">
    <div class="comn-outr">
        <div class="container">
            <div class="comm-hdr wow fadeInUp">
                <h2>@ViewBag.position14</h2>
            </div>

            <div class="your-money-outr">
                <div class="col-lg-6 col-sm-6">
                    <div class="famiy-pic"><img src="~/images/family-pic.png" alt="" /></div>
                </div>
                <div class="col-lg-offset-1 col-sm-offset-1 col-lg-5 col-sm-5">
                    <div class="hexagon-outr">
                        <div class="hexa-innr wow fadeInUp" data-wow-delay="0.5s">
                            <div class="hexa-pic-outr">
                                <div class="hexa-pic">
                                    <span><img src="~/images/secure-icn1.png" alt="" />  </span>
                                </div>
                            </div>
                            <div class="hexa-des">
                                <h3>Withdraw Anytime</h3>

                            </div>
                        </div>

                        <div class="hexa-innr wow fadeInUp" data-wow-delay="1s">
                            <div class="hexa-pic-outr">
                                <div class="hexa-pic">
                                    <span><img src="~/images/secure-icn2.png" alt="" />  </span>
                                </div>
                            </div>
                            <div class="hexa-des">
                                <h3>Safe & Secure</h3>

                            </div>
                        </div>
                        <div class="hexa-innr wow fadeInUp" data-wow-delay="1.5s">
                            <div class="hexa-pic-outr">
                                <div class="hexa-pic">
                                    <span><img src="~/images/secure-icn3.png" alt="" />  </span>
                                </div>
                            </div>
                            <div class="hexa-des">
                                <h3>Paperless & Flexible</h3>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</figure>
<!-- end your maney  -->
<!-- highest investment -->
<figure class="highest-invst-sec">
    <div class="container">
        <div class="highest-invst-inn clearfix">
            <div class="highest-invst-bach">
                <div class="yellow-bach">
                    <img src="~/images/yellow-bach.png" alt="" />
                </div>
            </div>
            <div class="highest-invst-person">
                <h3>Highest Amount Invested By Single Customer</h3>

            </div>
        </div>
    </div>
</figure>

<!-- end of highest investment -->
<!-- faq -->
<section class="faq_sec">
    <div class="comn-outr">
        <div class="container">
            <div class="comm-hdr wow fadeInUp">
                <h2>Frequently Asked Questions</h2>
                <p>Find out your solutions here!</p>
            </div>
            <div class="accordiam-bx">

                <div class="accordian-left">

                    <div class="accordion">
                        <h1>@ViewBag.position15</h1>
                        <div>
                            <div class="faq-inne-des clearfix">
                                <p> @ViewBag.position16</p>
                            </div>
                        </div>
                        <h1>@ViewBag.position17</h1>
                        <div>
                            <div class="faq-inne-des clearfix">
                                <p>@ViewBag.position18</p>
                            </div>
                        </div>
                        <h1>@ViewBag.position19</h1>
                        <div>
                            <div class="faq-inne-des clearfix">
                                <p>@ViewBag.position20 </p>
                            </div>
                        </div>
                        <h1>@ViewBag.position21</h1>
                        <div>
                            <div class="faq-inne-des clearfix">
                                <p>@ViewBag.position22</p>
                            </div>
                        </div>
                        <h1>@ViewBag.position23</h1>
                        <div>
                            <div class="faq-inne-des clearfix">
                                <p>@ViewBag.position24</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="accordian-right">
                    <div class="accordion">
                        <h1>@ViewBag.position25</h1>
                        <div>
                            <div class="faq-inne-des clearfix">
                                <p>@ViewBag.position26</p>
                            </div>
                        </div>
                        <h1>@ViewBag.position27</h1>
                        <div>
                            <div class="faq-inne-des clearfix">
                                <p>@ViewBag.position28</p>
                            </div>
                        </div>

                        <h1>@ViewBag.position29</h1>
                        <div>
                            <div class="faq-inne-des clearfix">
                                <p>@ViewBag.position30</p>
                            </div>
                        </div>
                        <h1>@ViewBag.position31</h1>
                        <div>
                            <div class="faq-inne-des clearfix">
                                <p>@ViewBag.position32 </p>
                            </div>
                        </div>
                        <h1>@ViewBag.position33</h1>
                        <div>
                            <div class="faq-inne-des clearfix">
                                <p>@ViewBag.position34</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end of faq -->
<!-- expert sec -->
<section class="expert-sec">
    <div class="comn-outr">
        <div class="container">
            <div class="comm-hdr blue-txt wow fadeInUp">
                <h2>@ViewBag.position35</h2>
                <p>@ViewBag.position36</p>
            </div>

            <div class="expert-slider">
                <div class="item">
                    <div class="expert-tbl">
                        <div class="expert-cell">
                            <img src="~/images/prof-pic02.png" alt="" />
                        </div>
                        <div class="expert-txt">
                            <h4>@ViewBag.position37</h4>
                            <p>
                                @ViewBag.position38
                            </p>
                        </div>
                    </div>
                </div>
                <!-- == -->
                <div class="item">
                    <div class="expert-tbl">
                        <div class="expert-cell">
                            <img src="~/images/prof-pic05.png" alt="" />
                        </div>
                        <div class="expert-txt">
                            <h4>@ViewBag.position39</h4>
                            <p>
                                @ViewBag.position40

                            </p>
                        </div>
                    </div>
                </div>

                <!-- == -->
                <div class="item">
                    <div class="expert-tbl">
                        <div class="expert-cell">
                            <img src="~/images/prof-pic07.png" alt="" />
                        </div>
                        <div class="expert-txt">
                            <h4>@ViewBag.position41</h4>
                            <p>
                                @ViewBag.position42
                            </p>
                        </div>
                    </div>
                </div>

                <!-- == -->
                <div class="item">
                    <div class="expert-tbl">
                        <div class="expert-cell">
                            <img src="~/images/expert-slide1.png" alt="" />
                        </div>
                        <div class="expert-txt">
                            <h4>@ViewBag.position43</h4>
                            <p>
                                @ViewBag.position44
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end expert sec -->
<!-- our-partner -->
<section class="our-partner-sec">
    <div class="comn-outr">
        <div class="container">
            <div class="comm-hdr wht-txt wow fadeInUp">
                <h2>Our Strong & Reliable Partner</h2>
            </div>


            <div id="exTab1">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#1a" data-toggle="tab">Fund Partners</a>
                    </li>
                    <li>
                        <a href="#2a" data-toggle="tab">Other Partners</a>
                    </li>

                </ul>

                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1a">
                        <div class="partner-slider">
                            <div class="item">                              
                                <a href="javascript:void(0)">
                                    <div class="our-partner-inn">
                                        <div class="our-partner-cell">
                                            <img src="@Url.Content("~/Admin/images/SbiLogo.jpg")" alt="SbiLogo.jpg" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/franklin.png")" alt="franklin.png" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/canara.png")" alt="canara.png" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/DSP-Blakrock-logo.png")" alt="DSP-Blakrock-logo.png" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/BNP-Paribas-Mutual-Fund.png")" alt="BNP-Paribas-Mutual-Fund.png" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/Birla-Sun-Life-Mutual-Fund.png")" alt="Birla-Sun-Life-Mutual-Fund.png" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/Axis-Mutual-Fund-01.png")" alt="Axis-Mutual-Fund-01.png" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/Reliance_Mutual_Fund_Logo.png")" alt="Reliance_Mutual_Fund_Logo.png" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/kotak.png")" alt="kotak.png" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/hdfclogo.jpg")" alt="hdfclogo.jpeg" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/icici.jpg")" alt="icici.jpg" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/MiraeAssetMutualFund.jpg")" alt="MiraeAssetMutualFund.jpg" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/IDFCMUTUALFUND.jpg")" alt="IDFCMUTUALFUND.jpg" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/LT.png")" alt="LT.png" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/dhfl.jpg")" alt="dhfl.jpg" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)">
                                <div class="our-partner-inn">
                                    <div class="our-partner-cell">
                                        <img src="@Url.Content("~/Admin/images/Sundarm.png")" alt="Sundarm.png" />
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="tab-pane" id="2a">
                        <div class="partner-slider">
                            <div class="item">
                                <a href="javascript:void(0)">
                                    <div class="our-partner-inn">
                                        <div class="our-partner-cell">
                                            <img src="@Url.Content("~/Admin/images/BombayStockExchangelogo.png")" alt="" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="javascript:void(0)">
                                    <div class="our-partner-inn">
                                        <div class="our-partner-cell">
                                            <img src="@Url.Content("~/Admin/images/ShareKhanLogo.jpg")" alt="" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="javascript:void(0)">
                                    <div class="our-partner-inn">
                                        <div class="our-partner-cell">
                                            <img src="@Url.Content("~/Admin/images/RRFinance_Logo.jpg")" alt="" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="javascript:void(0)">
                                    <div class="our-partner-inn">
                                        <div class="our-partner-cell">
                                            <img src="@Url.Content("~/Admin/images/Ak_Logo.jpg")" alt="" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="javascript:void(0)">
                                    <div class="our-partner-inn">
                                        <div class="our-partner-cell">
                                            <img src="@Url.Content("~/Admin/images/New_Ass_Logo.png")" alt="" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="javascript:void(0)">
                                    <div class="our-partner-inn">
                                        <div class="our-partner-cell">
                                            <img src="@Url.Content("~/Admin/images/LIC_LOGO.png")" alt="" />
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="comm-btn-outr">
                    <a href="@Url.Content("~/ContactUs/Index")" class="commn-btn">Become A Partner</a>
                </div>

            </div>
        </div>

</section>
<!-- end our-partner -->
<!-- testimonial sec -->

@*<section class="testimonial_sec">
    <div class="comn-outr">
        <div class="container">
            <div class="comm-hdr wow fadeInUp">
                <h2>What Our People Says</h2>
            </div>
            <div class="testimonial_inner">
                <div class="textimonial_slider_for">
                    @if (Model != null && Model.allTesti != null && Model.allTesti.Count > 0)
                    {
                        foreach (var item in Model.allTesti)
                        {
                            <div>
                                <div class="testimonial_details">
                                    <div class="testimonial_txt">
                                        <p>@item.Message</p>
                                    </div>
                                    <h4>-@item.User_Name</h4>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="textimonial_slider_nav">
                    @if (Model != null && Model.allTesti != null && Model.allTesti.Count > 0)
                    {
                        foreach (var item in Model.allTesti)
                        {
                            string imgPath = "https://www.wealthclockadvisors.com/Admin" + item.Image;

                            <div>
                                <div class="testi_img circle">
                                    <div class="img_wrap">
                                        <img src="@imgPath" alt="">
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>*@

<section class="testimonial_sec">
    <div class="comn-outr">
        <div class="container">
            <div class="comm-hdr wow fadeInUp">
                <h2>@ViewBag.position45</h2>
            </div>
            <div class="testimonial_inner">
                <div class="textimonial_slider_for">
                    <div>
                        <div class="testimonial_details">
                            <div class="testimonial_txt">
                                <p>@ViewBag.position46</p>
                            </div>
                            <h4>@ViewBag.position47</h4>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial_details">
                            <div class="testimonial_txt">
                                <p>@ViewBag.position48</p>
                            </div>
                            <h4>@ViewBag.position49</h4>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial_details">
                            <div class="testimonial_txt">
                                <p>@ViewBag.position50</p>
                            </div>
                            <h4>@ViewBag.position51</h4>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial_details">
                            <div class="testimonial_txt">
                                <p>@ViewBag.position52</p>
                            </div>
                            <h4>@ViewBag.position53</h4>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial_details">
                            <div class="testimonial_txt">
                                <p>@ViewBag.position54</p>
                            </div>
                            <h4>@ViewBag.position55</h4>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial_details">
                            <div class="testimonial_txt">
                                <p>@ViewBag.position56</p>
                            </div>
                            <h4>@ViewBag.position57</h4>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial_details">
                            <div class="testimonial_txt">
                                <p>@ViewBag.position58</p>
                                <h4>@ViewBag.position59</h4>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial_details">
                                <div class="testimonial_txt">
                                    <p>@ViewBag.position60</p>
                                </div>
                                <h4>@ViewBag.position61</h4>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial_details">
                                <div class="testimonial_txt">
                                    <p>@ViewBag.position62</p>
                                </div>
                                <h4>@ViewBag.position63</h4>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial_details">
                                <div class="testimonial_txt">
                                    <p>@ViewBag.position64</p>
                                </div>
                                <h4>@ViewBag.position65</h4>
                            </div>
                        </div>
                    </div>

                    <div class="textimonial_slider_nav">
                        <div>
                            <div class="testi_img circle">
                                <div class="img_wrap">
                                    <img src="~/images/no-image-male.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testi_img circle">
                                <div class="img_wrap">
                                    <img src="~/images/TM_Img.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testi_img circle">
                                <div class="img_wrap">
                                    <img src="~/images/TM_Img1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testi_img circle">
                                <div class="img_wrap">
                                    <img src="~/images/TM_Img2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testi_img circle">
                                <div class="img_wrap">
                                    <img src="~/images/TM_Img3.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testi_img circle">
                                <div class="img_wrap">
                                    <img src="~/images/TM_Img4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testi_img circle">
                                <div class="img_wrap">
                                    <img src="~/images/TM_Img5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testi_img circle">
                                <div class="img_wrap">
                                    <img src="~/images/TM_Img6.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testi_img circle">
                                <div class="img_wrap">
                                    <img src="~/images/TM_Img7.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testi_img circle">
                                <div class="img_wrap">
                                    <img src="~/images/TM_Img8.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- end testimoni -->
<!-- download sec -->
<!-- end our-partner -->

<script src="@Url.Content("~/js/jquery-1.11.3.js")"></script>
<script src="@Url.Content("~/js/exporting.js")"></script>
<script src="@Url.Content("~/js/highcharts.js")"></script>
<script>

    $(document).ready(function () {
        GenarateChart();
        $("#txtamnt").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $('#txtamnt,#txtage,#txtretmnt,#ddinterval,#ddRisk').change(function () {
            GenarateChart();
        });

        $('.Toolsdiv').click(function () {
            location.href = '@Url.Content("~/MoneyTools")';
        });
        $('.Solutiondiv').click(function () {
            location.href = '@Url.Content("~/Solutions")';
        });
        $('.handpickdiv').click(function () {
            location.href = '@Url.Content("~/WealthclockPicks")';
        });
        $('.insightdiv').click(function () {
            location.href = '@Url.Content("~/Insights")';
        });
    });

    function FromatIndiancurrency(dight) {
        var x = parseInt(dight);
        x = x.toString();
        var lastThree = x.substring(x.length - 3);
        var otherNumbers = x.substring(0, x.length - 3);
        if (otherNumbers != '')
            lastThree = ',' + lastThree;
        var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
        return res;
    }


    function GenarateChart() {
        $('#txtage').css({
            "border-color": "#cccccc",
            "border-weight": "1px",
            "border-style": "solid"
        });
        $('#txtretmnt').css({
            "border-color": "#cccccc",
            "border-weight": "1px",
            "border-style": "solid"
        });
        $('#txtamnt').css({
            "border-color": "#cccccc",
            "border-weight": "1px",
            "border-style": "solid"
        });

        if ($('#txtage').val() < 18) {
            alert("Please enter age value greater then 18 years.");
            $('#txtage').focus();
            $('#txtage').css({
                "border-color": "red",
                "border-weight": "1px",
                "border-style": "solid"
            });
            return;
        }

        if ($('#txtamnt').val() == "" || $('#txtamnt').val() < 1000) {
            alert("Please enter minimum Rs 1000.");
            $('#txtamnt').focus();
            $('#txtamnt').css({
                "border-color": "red",
                "border-weight": "1px",
                "border-style": "solid"
            });
            return;
        }

        var amnt = $('#txtamnt').val();
        var d = new Date();
        var n = d.getFullYear();
        var curentyear = n;
        var diffyear = parseInt($('#txtretmnt').val()) - parseInt($('#txtage').val());
        if (diffyear < 5) {
            alert("Need minimum 5 years differance");
            $('#txtretmnt').focus();
            $('#txtretmnt').css({
                "border-color": "red",
                "border-weight": "1px",
                "border-style": "solid"
            });
            return;
        }
        var lastyear = parseInt(curentyear) + parseInt(diffyear);
        var interval = parseInt($('#ddinterval').val()) * parseInt(diffyear);
        var Risk = parseFloat($('#ddRisk').val());
        var interest = (Risk / parseInt($('#ddinterval').val())) / 100;

        var TotalInvst, TotalReturn, TotalInvst1, TotalInvst2, TotalInvst3, TotalInvst4, TotalReturn1, TotalReturn2, TotalReturn3, TotalReturn4;
        var curentyear1, curentyear2, curentyear3, curentyear4;
        var Invst = [], Return = [];

        for (var i = 1; i <= diffyear; i++) {
            interval = parseInt($('#ddinterval').val()) * parseInt(i);
            Invst.push(parseInt($('#txtamnt').val()) * parseInt(interval));
            var returnamnt = (amnt * (((Math.pow(1 + interest, interval) - 1) / interest)) * (1 + interest)).toFixed(2);
            Return.push(parseInt(returnamnt));
            returnamnt = FromatIndiancurrency(returnamnt);
            $('#sntamt').text(returnamnt);
        }


        $('#line-example').html('');

        Highcharts.chart('line-example', {
            chart: {
                type: 'area',
                backgroundColor: '#e6f2f5'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                allowDecimals: false,
                gridLineWidth: 0,
                labels: {
                    formatter: function () {
                        return this.value; // clean, unformatted number for year
                    }
                }
            },
            yAxis: {
                title: {
                    text: ''
                },
                opposite: true,
                gridLineWidth: 0,
                labels: {
                    formatter: function () {
                        return this.value / 1000 + 'k';
                    }
                }
            },
            tooltip: {
                pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
            },
            plotOptions: {
                area: {
                    pointStart: curentyear,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{
                showInLegend: false,
                name: 'Return',
                data: Return,
                color: '#386BC9'
            }, {
                showInLegend: false,
                name: 'Investment',
                data: Invst,
                color: '#FEB704'
            }]
        });
    }

</script>


























