@{
    ViewBag.Title = "TaxPlanning";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<style>
    .elss {
        margin: 20px 0 0px !important;
        padding: 0 !important;
    }

    .elssitxt {
        padding: 0 !important;
    }
</style>
<!-- banner -->
<section class="bannr-sec tax-plan">
    <div class="bannr-outr">
        <div class="container">
            <div class="bannr-innr wow fadeInUp" data-wow-delay="0.5s">
                <h1>@ViewBag.position116</h1>
                <!-- <h5>Proin gravida nibh vel velit auctor alique enean sollicitudin</h5> -->
            </div>
        </div>
    </div>
    <!-- end banner -->
    <!-- new mouse start -->
    <div class="ng-scope" id="content-view">
        <div style="display: block;" class="ng-scope" id="mouse-scroll">
            <div><span class="unu"> </span> <span class="doi"> </span> <span class="trei"> </span> </div>
        </div>
    </div>
    <!-- new mouse ends -->
</section>
<!-- end banner -->
<!-- long-term -->
<section class="hm long-term text-center">
    <div class="container">
        <div class="long-outr commn-outr">
            <p>
                @ViewBag.position117
            </p>
            <!-- <a class="commn-bttn whte wow fadeInUp" data-wow-delay="0.5s" href="javascript:void(0)">read more</a> -->
        </div>
    </div>
</section>
<!-- end long-term -->
<!-- tax-image -->
<section class="tax-sec">
    <div class="container">
        <div class="commn-outr">
            <h3>How does tax saving work?</h3>
            <div>
                <img src="@Url.Content("~/images/tax-image.jpg")" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- end tax-image -->
<!-- direct saving -->
<section>
    <div class="container">
        <div class="commn-outr">
            <div class="drct-save">
                <div class="drct-save-inn clearfix">
                    <h4>@ViewBag.position118</h4>
                    <ul>
                        <li>Public Provident Fund</li>
                        <li>Savings certificates</li>
                        <li>Equity Linked Saving Scheme</li>
                        <li>Principal repayment of Home Loans</li>
                        <li>Pension Fund</li>
                        <li>Tutuion Fees</li>
                        <li>Employee Provident funds</li>
                        <li>Life insurance: Health insurance:</li>
                    </ul>
                </div>
                <div class="drct-save-rght clearfix">
                    <h4>@ViewBag.position119</h4>
                    <ul>
                        <li>Small interest</li>
                        <li>HRA</li>
                        <li>Treatment for certain diseases</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="assured-sec">
            <h4>@ViewBag.position120</h4>
            <p>
                @ViewBag.position121
            </p>
        </div>
    </div>
</section>
<!-- end direct saving -->
<!-- market-link -->
<section class="market-link">
    <div class="container">
        <div class="commn-outr market-link-inn clearfix">
            <h4>@ViewBag.position122</h4>
            <p>@ViewBag.position123</p>
            <ul>
                <li>
                    ULIPS are a mix of both insurance and investment plans often sold as insurance only. It comes with all the risks of investing in equity market with additional burden of lock-in period, mortality charges and inefficient exit routes.
                </li>
                <li>
                    NPS is an option which deliver market linked returns but the challenge is the long term commitment and limited exit window. Also the option available in NPS commits funds only in index fund and substantial part gets invested in debt market which for a long term investor is not very efficient.
                </li>
                <li>
                    Its preferable to invest in open-ended diversified mutual funds for equity investment and Debt mutual fund or Public Provident Fund (PPF) for the debt investment. These investments reduce the risk factor substantially with good returns.
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- end market-link -->
<!-- elss -->
<section class="elss-sec clearfix">
    <div class="container">
        <div class="elss-innr">
            <h4>@ViewBag.position124</h4>
            <div class="elss-tble-outr">
                <div class="elss-tble">
                    <div class="elss-row">
                        <div class="elss-cell pln">
                            Products
                        </div>
                        <div class="elss-cell elss-hdr">
                            ELSS
                        </div>
                        <div class="elss-cell elss-hdr">
                            Bank FD
                        </div>
                        <div class="elss-cell elss-hdr">
                            PPF
                        </div>
                        <div class="elss-cell elss-hdr">
                            NCS
                        </div>
                        <div class="elss-cell elss-hdr">
                            Insurance<br />policy
                        </div>
                    </div>
                    <!-- == -->
                    <div class="elss-row">
                        <div class="elss-cell pln">
                            Returns
                        </div>
                        <div class="elss-cell">
                            ~ 16% - 17%
                        </div>
                        <div class="elss-cell">
                            7.5% - 8%
                        </div>
                        <div class="elss-cell">
                            8.1%
                        </div>
                        <div class="elss-cell">
                            8.1%
                        </div>
                        <div class="elss-cell">
                            5% - 7%
                        </div>
                    </div>
                    <!-- == -->
                    <div class="elss-row">
                        <div class="elss-cell pln">
                            Lock in
                        </div>
                        <div class="elss-cell">
                            3yrs
                        </div>
                        <div class="elss-cell">
                            5yrs
                        </div>
                        <div class="elss-cell">
                            15yrs
                        </div>
                        <div class="elss-cell">
                            5yrs
                        </div>
                        <div class="elss-cell">
                            10yrs
                        </div>
                    </div>
                </div>
            </div>
            <!-- == -->
            <div class="elss-parts clearfix">
                <div class="elss-sngle yelo-bt">
                    <!-- <div class="yelo-bt"> -->
                    <span><img src="@Url.Content("~/images/elss-01.png")" alt="" /></span>
                    <p>
                        @ViewBag.position125
                    </p>
                    <!-- </div> -->
                </div>
                <div class="elss-sngle blu-bt">
                    <!-- <div class="blu-bt"> -->
                    <span><img src="@Url.Content("~/images/elss-02.png")" alt="" /></span>
                    <p>
                      @ViewBag.position126
                    </p>
                    <!-- </div> -->
                </div>
                <div class="elss-sngle grn-bt">
                    <!-- <div class="grn-bt"> -->
                    <span><img src="@Url.Content("~/images/elss-03.png")" alt="" /></span>
                    <p>
                       @ViewBag.position127
                    </p>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end elss -->
<!-- elss-graph -->
<section class="elss-graph-sec">
    <div class="container">
        <div class="commn-outr assured-sec clearfix elss">
            <h4>
               @ViewBag.position128
            </h4>

        </div>
        <div class="elss-graph-innr elssitxt">
            <!--Graph goes here...-->
            <div class="elss-graph">
                @*<img src="@Url.Content("~/images/elss-graph.png")" alt="" />*@
                <div class="graph-area" id="line-example" style="margin-top:3%"></div>
            </div>
            <div class="elss-txt">
                <p>
                   @ViewBag.position129
                </p>
                <p>
                   @ViewBag.position130
                </p>
                @*<p>
                        For a Risk averse investor we apply our researched based approach to find the right mix of allocation between the
                        ELSS and the PPF to magnify the returns.
                    </p>*@
            </div>
        </div>
    </div>
</section>

<script src="@Url.Content("~/js/jquery-1.11.3.js")"></script>
<script src="@Url.Content("~/js/highcharts.js")"></script>

<script>

    $(document).ready(function () {
        $(".footmenu").each(function (e) {
            if ($(this).text().trim() == '- Solutions') {
                $(this).addClass('current-menu-item');
            }
        });

        $(".headmenu").each(function (e) {
            if (e == '1') {
                $(this).addClass('current-menu-item');
            }
        });
    });
</script>

<!--Generate graph-->
<script>

    $(document).ready(function () {
        GenarateChart();

    });

    function FromatIndiancurrency(dight) {
        var x = parseInt(dight);
        x = x.toString();
        var lastThree = x.substring(x.length - 3);
        var otherNumbers = x.substring(0, x.length - 3);
        if (otherNumbers != '')
            lastThree = ',' + lastThree;
        var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
        return res;
    }


    function GenarateChart() {
        var ELSS = [57000, 144440, 281106, 956576, 1436943, 2551326, 3367184, 4784714, 2198121, 4826055, 615756, 4818328, 6688926, 7535708, 11758990, 12096170, 12684016, 14062418];
        var PPF = [111000, 231045, 360839, 497706, 645523, 805164, 977578, 1163784, 1364887, 1582077, 1816644, 2069975, 2360933, 2675034, 3016462, 3387594, 3770089, 4183567];


        $('#line-example').html('');

        Highcharts.chart('line-example', {
            chart: {
                type: 'area',
                backgroundColor: '#e6f2f5'
            },
            title: {
                text: 'ELSS Vs PPF'
            },
            subtitle: {
                text: ''
            },
            xAxis: {

                allowDecimals: false,
                gridLineWidth: 0,
                labels: {
                    formatter: function () {
                        return this.value; // clean, unformatted number for year
                    }
                }
            },
            yAxis: {

                opposite: true,
                gridLineWidth: 0,
                labels: {
                    formatter: function () {
                        return this.value / 1000 + 'k';
                    }
                }
            },
            tooltip: {
                pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
            },
            plotOptions: {
                area: {
                    pointStart: 2000,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{
                showInLegend: true,
                name: 'ELSS',
                data: ELSS,
                color: '#386BC9'
            }, {
                showInLegend: true,
                name: 'PPF',
                data: PPF,
                color: '#FEB704'
            }]
        });
    }
</script>