@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}


<!-- banner -->
<section class="bannr-sec how-it-sec">
    <div class="bannr-outr">
        <div class="container">
            <div class="bannr-innr wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
                <h1>@ViewBag.position256</h1>
                <!-- <h5>Proin gravida nibh vel velit auctor alique enean sollicitudin</h5> -->
            </div>
        </div>
    </div>
    <!-- end banner -->
    <!-- new mouse start -->
    <div class="ng-scope" id="content-view">
        <div style="display: block;" class="ng-scope" id="mouse-scroll">
            <div><span class="unu"> </span> <span class="doi"> </span> <span class="trei"> </span> </div>
        </div>
    </div>
    <!-- new mouse ends -->
</section>
<!-- end banner -->
<!-- long-term -->
<section class="hm long-term text-center">
    <div class="container">
        <div class="long-outr commn-outr">
            <p>
               @ViewBag.position257
            </p>
            <!-- <a class="commn-bttn whte wow fadeInUp" data-wow-delay="0.5s" href="javascript:void(0)">read more</a> -->
        </div>
    </div>
</section>
<!-- end long-term -->
<!-- how-it-works -->
<figure class="how-sec">
    <div class="container">
        <div class="commn-outr how-it clearfix">
            <h2>@ViewBag.position258</h2>
            <ul>
                <li>
                    <a href="#understand" class="act underst wow fadeInUp" data-wow-delay="0.5s"><img src="@Url.Content("~/images/how-icon-01.png")" alt="" /></a>
                    <a href="#agree" class="act agre how-pic wow fadeInUp" data-wow-delay="1.5s"><img src="@Url.Content("~/images/how-icon-03.png")" alt="" /></a>
                    <a href="#review" class="act reviw how-pic wow fadeInUp" data-wow-delay="2.5s"><img src="@Url.Content("~/images/how-icon-05.png")" alt="" /></a>
                </li>
                <li>
                    <a href="#develop" class="act develp wow fadeInUp" data-wow-delay="1s"><img src="@Url.Content("~/images/how-icon-02.png")" alt="" /></a>
                    <a href="#act" class="act actt how-pic wow fadeInUp" data-wow-delay="2s"><img src="@Url.Content("~/images/how-icon-04.png")" alt="" /></a>
                </li>
            </ul>
        </div>
    </div>
</figure>
<!-- end how-it-works -->
<!-- understand -->
<figure>
    <div class="container">
        <div id="understand" class="understand commn-outr wow fadeInUp clearfix animated" style="visibility: visible;">
            <div class="how-hdr hdr-blu"><h2>Understand</h2><span>Understand</span></div>
            <div>
                <div class="under-pic">
                    <img src="@Url.Content("~/images/understand.jpg")" alt="" />
                </div>
                <ul>
                    <li>
                        <strong>There is no ‘one size fits all’ </strong> solution for financial planning –our services are personalized keeping all your needs in mind. We understand that every user has different reasons for investing. Some may want to invest for a house, for a holiday or simply to park their surplus funds for short or long term. All these users have different risk appetites, ideal holding period and periodicity of investment.
                    </li>
                    <li>
                        <strong>Short term and long term goals </strong>- Our financial planners can help you reach your goals for any kind of investment period. Start investing to make sure you have saved enough money for the retirement you want or a much deserved holiday or for your dream destination wedding. It's never too early to invest!
                    </li>
                    <li>
                        <strong>Full fledged financial </strong> advisory for those who are not sure what they want to do with their money. We understand your various needs and offer multiple plans to meet your many goals. Our advisors keep in mind your investment convenience and priorities before investing.
                    </li>
                </ul>
            </div>
        </div>
        <!-- == -->
        <div id="develop" class="understand commn-outr wow fadeInUp clearfix animated" style="visibility: visible;">
            <div class="how-hdr hdr-yelo"><h2>Develop</h2><span>Develop</span></div>
            <div>
                <div class="under-pic">
                    <img src="@Url.Content("~/images/develop.jpg")" alt="" />
                </div>
                <p>
                    We use two pillars to ensure that you create wealth in the manner best suited to you. These two pillars are:
                </p>
                <ul>
                    <li>
                        The “right” asset allocation -By this we mean your investment has the right mix of funds , I,e, equity and debt, that are best suited to your risk appetite and goals. Our recommended portfolio will be different for someone who is risk averse, has a large portfolio and is nearing retirement, as opposed to someone who is 30 years old, has a smaller portfolio and is willing to face some volatility for higher returns. Many studies have shown that the “right” asset allocation is the most critical variable in creating sustained wealth over the long term, but is often the most overlooked aspect. The asset allocation evolves as the portfolio matures and investor requirements change. We help you create and maintain the right balance of assets, over the life of your portfolio.
                    </li>
                    <li>
                        The “right” funds -There are no “best funds” in our view-only “right funds”. So we recommend the funds which suit your profile best. For instance, a fund might be the “best performing fund” in its category, but that simply means that its returns are the best over one time period-it doesn’t take into account that it has been very volatile in giving those returns. For a conservative investor who prefers stable and stress-free investments, such fund may not be the right pics. On the other hand the same fund may be right for aggressive investors looking for high returns.
                    </li>
                </ul>
                <p>
                   @ViewBag.position259
                </p>
            </div>
        </div>
        <!-- == -->
        <div id="agree" class="understand commn-outr wow fadeInUp clearfix animated" style="visibility: visible;">
            <div class="how-hdr hdr-gren"><h2>Shortlist</h2><span>Shortlist</span></div>
            <div class="act-fund-sec">
                <div class="act-fund">
                    <div class="act-fund-inn">
                        <h4>@ViewBag.position260</h4>
                    </div>
                </div>
                <div class="act-tab">
                    <ul class="nav nav-tabs responsive hidden-xs hidden-sm" id="tabs-0">
                        <li class="active"><a data-toggle="tab" href="#menu1">Transparent</a></li>
                        <li><a data-toggle="tab" href="#menu2">Un-Biased</a></li>
                        <li><a data-toggle="tab" href="#menu3">Data Driven</a></li>
                    </ul>
                    <div class="tab-content responsive hidden-xs hidden-sm">
                        <div id="menu1" class="tab-pane fade in active">
                            <p>
                              @ViewBag.position261
                            </p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <p>
                                @ViewBag.position262
                            </p>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <p>
                               @ViewBag.position263
                            </p>
                        </div>
                    </div>




                </div>
            </div>
            <!-- == -->

            <div class="shortlistng-proc">
                <h3>Criteria used for shortlisting the funds</h3>
                <div class="new-shortlist">
                    <div class="criteria-1 torquise">
                        <div class="cr-txt-1">
                            Criteria 1
                        </div>
                        <div class="cr-box-1">
                            <h3>@ViewBag.position264</h3>
                        </div>
                        <p>
                            @ViewBag.position265
                        </p>
                    </div>
                    <div class="criteria-2 yello">
                        <div class="cr-txt-1">
                            Criteria 2
                        </div>
                        <div class="cr-box-1">
                            <h4>@ViewBag.position266</h4>
                        </div>
                        <p>
                            @ViewBag.position267
                        </p>
                    </div>
                    <div class="criteria-3 pinky">
                        <div class="cr-txt-1">
                            Criteria 3
                        </div>
                        <div class="cr-box-1">
                            <h3>@ViewBag.position268</h3>
                        </div>
                        <p>
                           @ViewBag.position269
                        </p>
                    </div>
                    <div class="criteria-4 purplle">
                        <div class="cr-txt-1">
                            Criteria 4
                        </div>
                        <div class="cr-box-1">
                            <h3>@ViewBag.position270</h3>
                        </div>
                        <p>
                           @ViewBag.position271
                        </p>
                    </div>
                    <div class="criteria-5 gren">
                        <div class="cr-txt-1">
                            Criteria 5
                        </div>
                        <div class="cr-box-1">
                            <h3>@ViewBag.position272</h3>
                        </div>
                        <p>
                           @ViewBag.position273
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- == -->
        <div id="act" class="understand commn-outr wow fadeInUp clearfix animated" style="visibility: visible;">
            <div class="how-hdr hdr-grey"><h2>Implement</h2><span>Implement</span></div>
            <div>
                <div class="under-pic">
                    <img src="@Url.Content("~/images/Implementation.jpg")" alt="" />
                </div>
                <p>
                    There are really three things everyone needs to keep in mind when thinking about their own financial planning:
                </p>
                <ul>
                    <li>
                        The first is expectations: if you want to live like a king you need to come up with a plan to accumulate enough funds to do so.&nbsp;
                        The accumulation to live like a pauper is much lower.&nbsp; So expectations are very important.&nbsp;
                    </li>
                    <li>
                        The second is accumulating.&nbsp; You need to accumulate commensurately with your expectations.&nbsp;
                        A person desiring to live like a king needs to accumulate great wealth, a person satisfied to live like a pauper requires much less.&nbsp;
                    </li>
                    <li>
                        The third is spending.&nbsp; Each time you spend you need to keep the expectation in line.&nbsp;
                        Spending now may make it harder to live like a king later while spending now may make it easier to live like a pauper.&nbsp;
                    </li>
                </ul>
                <p>
                   @ViewBag.position274
                </p>
            </div>
        </div>
        <!--==-->
        <div id="review" class="understand commn-outr wow fadeInUp clearfix animated" style="visibility: visible;">
            <div class="how-hdr hdr-prple"><h2>Review</h2><span>Review</span></div>
            <p>
               @ViewBag.position275
            </p>
            <p>
               @ViewBag.position276
            </p>

        </div>

    </div>
</figure>
<!-- end understand -->





<script src="@Url.Content("~/js/jquery-1.11.3.js")"></script>
<script>

    $(document).ready(function () {
        $(".footmenu").each(function (e) {
            if ($(this).text().trim() == '- About Us') {
                $(this).addClass('current-menu-item');
            }
        });

        $(".headmenu").each(function (e) {
            if (e == '0') {
                $(this).addClass('current-menu-item');
            }
        });
    });
</script>
